body
	{width:554px;
	height:415px;}
.TB
	{mso-special-format:nobullet\2022;}
.T
	{text-align:center;
	font-family:Arial;
	color:black;
	mso-color-index:3;
	font-size:220%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.BB
	{mso-special-format:bullet\2022;}
.B
	{text-align:left;
	font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:160%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B1B
	{mso-special-format:bullet\2013;}
.B1
	{text-align:left;
	font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:140%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B2B
	{mso-special-format:bullet\2022;}
.B2
	{text-align:left;
	font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:120%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B3B
	{mso-special-format:bullet\2013;}
.B3
	{text-align:left;
	font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:100%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B4B
	{mso-special-format:bullet\00BB;}
.B4
	{text-align:left;
	font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:100%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N1
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N2
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N3
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N4
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.OB
	{mso-special-format:nobullet\2022;}
.O
	{text-align:left;
	font-family:Arial;
	color:black;
	mso-color-index:1;
	font-size:90%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O1
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O2
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O3
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O4
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB1
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB2
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB3
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB4
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CT
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB1
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB2
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB3
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB4
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB1
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB2
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB3
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB4
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl1
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl2
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl3
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.Tbl4
	{mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.defaultB
	{mso-special-format:nobullet\2022;}
.default
	{text-align:left;
	font-family:Arial;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:black;
	mso-color-index:1;
	font-size:90%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:EN-US;}
a:link
	{color:#009999 !important;}
a:active
	{color:#333399 !important;}
a:visited
	{color:#99CC00 !important;}
