<%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<%@ page import = "java.util.Vector" %>
<%@ page import = "java.util.Map" %>
<%
 Map rows = (Map)request.getAttribute("Summary");

 Vector scheduled = (Vector)rows.get("In Work - Scheduled");
 Vector onsite = (Vector)rows.get("In Work - Onsite");
 Vector closed = (Vector)rows.get("Closed");
 Vector overall = (Vector)rows.get("Overall");
 
 String project_type = (String)request.getAttribute("project_type");
 String month = (String)request.getAttribute("month");
 String year = (String)request.getAttribute("year");
 
 String projectTypeName = "All Projects";
 String link1Title = "Deployments";
 String link2Title = "NetMedX";
 String link1Value = "deployments";
 String link2Value = "netmedx";
 
 if (project_type.equals("all")) {
	projectTypeName = "All Projects";
	link1Title = "Deployments";
	link2Title = "NetMedX";
	link1Value = "deployments";
	link2Value = "netmedx";
 } else if (project_type.equals("deployments")) {
	projectTypeName = "Deployments";
	link1Title = "All Projects";
	link2Title = "NetMedX";
	link1Value = "all";
	link2Value = "netmedx";
 } else {
	projectTypeName = "NetMedX";
	link1Title = "Deployments";
	link2Title = "All Projects";
	link1Value = "deployments";
	link2Value = "all";
 }

%>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Top Level Summary</title>
<style>

    body {
    	font-family : Arial, Helvetica, sans-serif;
    	font-size : 12px;
    	cursor : auto;
    }
    .rptBody01 {
		 padding : 10px 0px 0px 10px;
    }
    .rptBody02 {
		 padding : 10px 0px 0px 20px;
    }
    .rptBody02 {
		 padding : 10px 0px 0px 20px;
    }
    .titleLine {
		font-size : 12pt;
		font-weight : bold;
		text-align : left;
		padding : 0px 0px 12px 0px;
    } 
    .sectionTitleLine {
		font-size : 11pt;
		font-weight : bold;
		text-align : left;
		vertical-align : bottom;
		padding : 0px 0px 0px 0px;
    }    
    .labelsLeft, .labelsCenter {
		font-size : 10pt;
		font-weight : bold;
		vertical-align : bottom;
		padding : 6px 12px 3px 12px;
    }    

    .labelsCenter {
		text-align : center;
		padding : 6px 12px 3px 12px;
    }    
    .labelsLeft {
		text-align : right;
		padding : 3px 8px 2px 0px;
    }    
       
    .tbs, .overdue, .onSite, .offsite, .complete, .closed, .overall, .reconciled {
		font-size : 10pt;
		font-weight : normal;
		text-align : left;
		padding : 3px 4px 2px 8px;
		text-align : right;
    }
    .tbs {
		background-color : #fff1f0; 
    }  
    .overdue {
		background-color : #ffccc9; 
    }  
    .onSite, .offsite {
		background-color : #fffced; 
    }  
    .complete {
		background-color : #e0edf5; 
    }  
    .closed {
		background-color : #f9fff3; 
    }  
    .overall {
		background-color : #ffffff;
		font-weight : bold; 
    }  
    .reconciled {
		background-color : #e5f9de; 
    }
  .tagLeft, .tagCenter, .tagRight {
		font-size : 8pt;
		font-weight : normal;
		padding : 3px 3px 3px 3px;
		vertical-align : middle;
    }    
    .tagLeft {
		text-align : left;
    }    
    .tagCenter {
		text-align : center;
    }    
    .tagRight {
		text-align : right;
    }  
   .button {
   		font-size : 8pt;
		font-weight : normal;
		padding : 1px 1px 1px 1px;
		text-align : center;
		vertical-align : middle;
		width: 25px;
        height: 24px;
    }  
</style>
</head>
<body>
<div class="rptBody01">
<table border="0" cellspacing="0" cellpadding="0">
<tr>
 <td class="titleLine">Revenue Summary</td>
</tr>

<tr>
 <td>
 <table width=100% border="0" cellspacing="1" cellpadding="0">
 <tr>
    <form action=/rpt/TopLevel.xo method=Post>
    <input type=hidden name="form_action" value="topLevelReport">
    <input type=hidden name="project_type" value="<%=project_type%>">
    <td class="sectionTitleLine"><%=projectTypeName%>&nbsp;<span class="tagLeft">(<a href="/rpt/TopLevel.xo?form_action=topLevelReport&project_type=<%=link1Value%>&month=<%=month%>&year=<%=year%>" target="wa"><%=link1Title%></a>&nbsp;|&nbsp;<a href="/rpt/TopLevel.xo?form_action=topLevelReport&project_type=<%=link2Value%>&month=<%=month%>&year=<%=year%>" target="wa"><%=link2Title%></a>)</span></td>
     <td align=right>
     <select name=month size=1 class=tagLeft>
     <option value="" selected>All</option>
     <option value=1  <%if(month.equals("1")){out.print("selected");}%>>Jan</option>
     <option value=2  <%if(month.equals("2")){out.print("selected");}%>>Feb</option>
     <option value=3  <%if(month.equals("3")){out.print("selected");}%>>Mar</option>
     <option value=4  <%if(month.equals("4")){out.print("selected");}%>>Apr</option>
     <option value=5  <%if(month.equals("5")){out.print("selected");}%>>May</option>
     <option value=6  <%if(month.equals("6")){out.print("selected");}%>>Jun</option>
     <option value=7  <%if(month.equals("7")){out.print("selected");}%>>Jul</option>
     <option value=8  <%if(month.equals("8")){out.print("selected");}%>>Aug</option>
     <option value=9  <%if(month.equals("9")){out.print("selected");}%>>Sep</option>
     <option value=10 <%if(month.equals("10")){out.print("selected");}%>>Oct</option>
     <option value=11 <%if(month.equals("11")){out.print("selected");}%>>Nov</option>
     <option value=12 <%if(month.equals("12")){out.print("selected");}%>>Dec</option>
     </select>
     <select name=year size=1 class=tagLeft>
     <option value="" selected>All</option>
     <option value=2006 <%if(year.equals("2006")){out.print("selected");}%>>2006</option>
     <option value=2007 <%if(year.equals("2007")){out.print("selected");}%>>2007</option></select>
     <input type="submit" value="Go" class=button>
     </td>
     </form>
 </tr>
</table>
 </td>
</tr>

<tr>
 <td>
 <div class="rptBody02">
 <table border="0" cellspacing="1" cellpadding="0">
 <tr>
    <td class="labelsCenter">Status</td>
    <td class="labelsCenter">Count</td>
    <td class="labelsCenter">Estimated Cost</td>
    <td class="labelsCenter">Actual Cost</td>
    <td class="labelsCenter">Revenue</td>
 </tr>
  
 <tr>
    <td class="labelsLeft">Scheduled</td>
    <td class="overdue"><%=scheduled.get(4)%></td>
    <td class="overdue"><%=scheduled.get(0)%></td>
    <td class="overdue"><%=scheduled.get(1)%></td>
    <td class="overdue"><%=scheduled.get(2)%></td>
 </tr>
 
 <tr>
    <td class="labelsLeft">On Site</td>
    <td class="reconciled"><%=onsite.get(4)%></td>
    <td class="reconciled"><%=onsite.get(0)%></td>
    <td class="reconciled"><%=onsite.get(1)%></td>
    <td class="reconciled"><%=onsite.get(2)%></td>
 </tr>

 <tr>
    <td class="labelsLeft">Closed</td>
    <td class="complete"><%=closed.get(4)%></td>
    <td class="complete"><%=closed.get(0)%></td>
    <td class="complete"><%=closed.get(1)%></td>
    <td class="complete"><%=closed.get(2)%></td>
 </tr>

 <tr>
    <td class="labelsLeft">Overall</td>
    <td class="overall"><%=overall.get(4)%></td>
    <td class="overall"><%=overall.get(0)%></td>
    <td class="overall"><%=overall.get(1)%></td>
    <td class="overall"><%=overall.get(2)%></td>
 </tr>
  
 </table>
 </div>
 </td>
</tr>
</table>
</div>  
</body>
</html>