BODY {
	MARGIN-TOP: 3px; 
	FONT-SIZE: 11px; 
	BACKGROUND-IMAGE: url(../images/page_bg.gif); 
	MARGIN-LEFT: 0px; 
	COLOR: #343434; 
	MARGIN-RIGHT: 0px; 
	FONT-FAMILY: Arial, Tahoma, Verdana; 
	TEXT-ALIGN: left; margin_bottom: 0px; 
	horizontal-align: left
}

/*======================================================*/

/* Content Formatting ----------------------------------*/

/* Page Heading */
H1 {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 20px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0em 0px; 
	VERTICAL-ALIGN: bottom; 
	COLOR: #1d2f79; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Tahoma, Verdana
}
/* Page SubHeading */
H2 {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 18px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0em 0px; 
	VERTICAL-ALIGN: bottom; 
	COLOR: #5d6683; 
	PADDING-TOP: 0px; 
	FONT-FAMILY: Arial, Tahoma, Verdana
}
/* Page SubHeading equvalent to H2 */
.subHeading {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 18px; 
	COLOR: #5d6683; 
	FONT-FAMILY: Arial, Tahoma, Verdana
}
/* Page SubHeading 2 */
.subSubHeading {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 15px; 
	MARGIN-BOTTOM: 1px; 
	COLOR: #3584b9; 
	FONT-FAMILY: Arial, Tahoma, Verdana
}
P {
	MARGIN-TOP: 3px; 
	MARGIN-BOTTOM: 10px
}
TD {
	MARGIN-TOP: 0px; 
	FONT-SIZE: 11px; 
	COLOR: #343434; 
	FONT-FAMILY: Arial, Tahoma, Verdana
}
OL {
	MARGIN-TOP: 0px
}
UL {
	MARGIN-TOP: 0px; 
	FONT-SIZE: 11px; 
	LIST-STYLE-IMAGE: url(https://medius.contingent.com/new/images/builet.gif); 
	COLOR: #343434; 
	FONT-FAMILY: Arial, Tahoma, Verdana
}
/* Footer */
.copy {
	FONT-SIZE: 10px; 
	COLOR: #666666
}
/* Record List's Paging */
.paging {
	FONT-SIZE: 10px; 
	COLOR: #444444; 
	HEIGHT: 24px; 
	vartical-align: bottom
}
/* Page Hirarichy */
.tdHistory {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10px; 
	COLOR: #888888; 
	FONT-FAMILY: Arial, Tahoma, Verdana; 
	TEXT-DECORATION: none
}
/* Required Fields */
.red {
	FONT-SIZE: 12px; COLOR: #ff0000
}
/*======================================================*/

/* Page Hyperlinks -------------------------------------*/
/* Content Hyperlinks */
A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #3584b9; FONT-FAMILY: Arial, Tahoma, Verdana; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #3584b9; FONT-FAMILY: Arial, Tahoma, Verdana; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #cc0001; FONT-FAMILY: Arial, Tahoma, Verdana; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #0099ff; FONT-FAMILY: Arial, Tahoma, Verdana; TEXT-DECORATION: none
}

/* Hirarichy Hyperlinks */
A.linkHistory:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #153371; FONT-FAMILY: Arial, Tahoma, Verdana; TEXT-DECORATION: none
}
A.linkHistory:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #153371; FONT-FAMILY: Arial, Tahoma, Verdana; TEXT-DECORATION: none
}
A.linkHistory:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #3584b9; FONT-FAMILY: Arial, Tahoma, Verdana; TEXT-DECORATION: none
}
A.linkHistory:active {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #153371; FONT-FAMILY: Arial, Tahoma, Verdana; TEXT-DECORATION: none
}

/* Left Menu Hyperlinks */
A.leftMenu:link {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #153371; FONT-FAMILY: Arial, Tahoma, Verdana; TEXT-DECORATION: none
}
A.leftMenu:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #153371; FONT-FAMILY: Arial, Tahoma, Verdana; TEXT-DECORATION: none
}
A.leftMenu:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #3584b9; FONT-FAMILY: Arial, Tahoma, Verdana; TEXT-DECORATION: none
}
A.leftMenu:active {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #153371; FONT-FAMILY: Arial, Tahoma, Verdana; TEXT-DECORATION: none
}
/*======================================================*/

/* Form's + PageTabs Formatting ------------------------------------*/
/* Form Buttons */
INPUT.button {
	BORDER-RIGHT: #77b6e7 1px solid; 
	BORDER-TOP: #77b6e7 1px solid; 
	FONT-SIZE: 11px; 
	BORDER-LEFT: #77b6e7 1px solid; 
	COLOR: #00355e; 
	BORDER-BOTTOM: #77b6e7 1px solid; 
	FONT-FAMILY: Arial, Tahoma, Verdana; 
	BACKGROUND-COLOR: #f3f3f3
}
/* Form TextBoxes */
INPUT.text {
	BORDER-RIGHT: #bbccdc 1px solid; 
	BORDER-TOP: #bbccdc 1px solid; 
	FONT-SIZE: 11px; 
	BORDER-LEFT: #bbccdc 1px solid; 
	COLOR: #000000; 
	BORDER-BOTTOM: #bbccdc 1px solid; 
	FONT-FAMILY: Arial, Tahoma, Verdana
}
/* Search TextBox in template right column */
INPUT.search {
	BORDER-RIGHT: #f1efe2 1px solid; 
	BORDER-TOP: #aea898 2px ridge; 
	FONT-SIZE: 11px; 
	BORDER-LEFT: #aea898 2px ridge; 
	COLOR: #7d7d7d; 
	BORDER-BOTTOM: #f1efe2 1px solid; 
	FONT-FAMILY: Arial, Tahoma, Verdana
}
TEXTAREA {
	FONT-SIZE: 11px; 
	COLOR: #7d7d7d; 
	FONT-FAMILY: Arial, Tahoma, Verdana
}
SELECT {
	FONT-SIZE: 11px; 
	FONT-FAMILY: Verdana, Arial; 
	HEIGHT: 15px
}

/* Form's + PageTabs Heading */
.tdTabs {
	BACKGROUND-COLOR: #d7e1eb
}
/* Selected Tab */
.tdTabsSelected {
	BACKGROUND-COLOR: #bbccdc
}
.tabPadding {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 2px
}

/* Form's + PageTabs Left Column */
.lColomn {
	PADDING-RIGHT: 2px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #ececec; TEXT-ALIGN: left
}

.lColomnbold {
	PADDING-RIGHT: 2px; PADDING-LEFT: 6px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #ececec; TEXT-ALIGN: left; font-weight: bold 
}

/* Form's + PageTabs Right Column */
.rColomn {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; BACKGROUND-COLOR: #f9f9f9
}

/* Tabs Hyperlink */
A.tabLink:link {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
A.tabLink:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
A.tabLink:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #555555; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
A.tabLink:active {
	FONT-WEIGHT: normal; FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Tahoma, Verdana, Arial; TEXT-DECORATION: none
}
/*======================================================*/

FORM {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}