.try 
{ font-family : Verdana, Arial, Helvetica, sans-serif; padding-left:4;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px ; background-color : #E0E0DC; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px}

.tryb 
{ font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:4;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.tryblr 
{ font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;padding-right:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.trybrecon 
{ font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:4;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #D9FDE4; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.trybleft 
{ font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.trybleftnormal 
{ font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}


.textonmouseover 
{ font-family : Verdana , Arial, Helvetica , sans-serif; padding-left:2;font-size : 11px; font-weight : normal ; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color : #F5F5DC; text-align : left; border-color : #ADBCD0; border : 1px; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px}
.textonmouseoverright 
{ font-family : Verdana , Arial, Helvetica , sans-serif; padding-left:2;font-size : 11px; font-weight : normal ; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color : #F5F5DC; text-align : right; border-color : #ADBCD0; border : 1px; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px}


.button 
{ font-family : verdana; padding-left:2;font-size : 10px; font-style : normal; font-weight : normal; color : #000000; letter-spacing : normal; word-spacing : normal; border : 1px #333333 solid; background : #D0D3D5; }

.buttonverticalalign 
{ font-family : verdana; padding-left:2;font-size : 10px; font-style : normal; font-weight : normal; color : #000000; letter-spacing : normal; word-spacing : normal; border : 1px #333333 solid; background : #D0D3D5; vertical-align: middle;}

.buttonright 
{ font-family : verdana; padding-left:2;font-size : 10px; font-style : normal; font-weight : normal; color : #000000; letter-spacing : normal; word-spacing : normal; border : 1px #333333 solid; background : #D0D3D5; horizontal-align: right}

.buttonrightalign 
{ font-family : verdana; padding-left:2;font-size : 10px; font-style : normal; font-weight : normal; color : #000000; letter-spacing : normal; word-spacing : normal; border : 1px #333333 solid; background : #D0D3D5; text-align: left}
.drop
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:12px;
	font-weight:bold;
	font-size:11px;
	color:#000000;
	text-decoration: none;
	white-space:nowrap; 
}

.drop:hover      
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:12px;
	font-size:11px;
	color:#000000;
	text-decoration: none;
	background-color: #8FA8CA;
	display: block;
	white-space:nowrap; 
}

.drop:visited    
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:12px;
	font-size:11px;
	color:#000000;
	text-decoration: none;
	white-space:nowrap; 
}

.drop:visited:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif; 
line-height:12px; 
font-size:11px; 
color:#000000;
text-decoration: none; 
background-color: #8FA8CA;
display: block;
white-space:nowrap; 
}

.pagelink
{font-family:Verdana, Arial, Helvetica, sans-serif; line-height:12px; font-weight:bold; padding-left:2;font-size:11px; color:#000000;text-decoration: none}
 
 
 
 
 
 
.pagelink:hover      
{font-family:Verdana, Arial, Helvetica, sans-serif; line-height:12px; font-weight:bold; padding-left:2;font-size:11px; color:#4A7ABC;text-decoration: none}
 
.pagelink:visited    
{font-family:Verdana, Arial, Helvetica, sans-serif; line-height:12px; font-weight:bold; padding-left:2;font-size:11px; color:#000000;text-decoration: none}
 
.pagelink:visited:hover
{font-family:Verdana, Arial, Helvetica, sans-serif; line-height:12px; font-weight:bold; padding-left:2;font-size:11px; color:#4A7ABC;text-decoration: none}

.sort 
{ font-family : Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size : 10px; width : 180px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px ; background-color : #ECF5FF; text-align : left; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 0px; border-right-width : 0px; border-bottom-width : 0px; border-left-width : 0px }
.sortmax 
{ font-family : Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size : 10px; width : 240px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px ; background-color : #ECF5FF; text-align : left; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 0px; border-right-width : 0px; border-bottom-width : 0px; border-left-width : 0px }


.combooddhiddenrightalign { visibility : hidden ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-right:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color: #ECECEC; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }
.comboevenhiddenrightalign { visibility : hidden ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-right:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color: #ECF5FF; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }

.combooddhidden { visibility : hidden ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-left:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color: #ECECEC; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }
.comboevenhidden { visibility : hidden ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-left:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color: #ECF5FF; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }
.combooddvisible { visibility : visible ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-left:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color: #ECECEC; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }
.comboevenvisible { visibility : visible ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-left:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color: #ECF5FF; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }

.comboo { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.comboe { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.texto { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.textoleftalignnowrap { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}



.textonewelement { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.textenewelement { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}





.textoleft { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #EEF3F1; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.texte { white-space:nowrap; position : relative; font-family:Verdana , Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.texteleftalignnowrap { white-space:nowrap; position : relative; font-family:Verdana , Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}



.texteleft { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E1EAE7; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labele{  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelo {  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.labeletop {  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeletopnowrap { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}


.labeleright{  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.labelotop {  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelotop {  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: justify; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}


.labelotopnowrap { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}



.labelowhite { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.labelgray { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:14px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelgrays { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.combogray { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.large { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:14px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.textw { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ffffff; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.message{font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:13px;font-weight:bold;color:blue;vertical-align: middle;margin-top: 11px;margin-bottom: 1px ;background-color: #FFFFFF;text-align: left;border-color: #E0E0DC #E6E6E3 #8E8E8C #808080;border-style: solid;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px; white-space: nowrap}
.ntext { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:12px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.link { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#0000ff; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; white-space: nowrap}
.toplink { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:12px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; white-space: nowrap}
.textui { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #EEF3F1; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.hyperodd { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.hyperoddcenter { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}



.smallGray { font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size:10;
	font-style:normal;
	font-weight:normal;
	color: #838384;
	vertical-align: middle;
	padding: 2px 1px ( left, right );
	white-space:nowrap}
.smallGrayLeftAlign { font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size:10;
	font-style:normal;
	font-weight:normal;
	color: #838384;
	vertical-align: middle;
	white-space:nowrap}	

.hypereven { white-space:nowrap; position : relative; font-family:Verdana , Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.hyperevencenter { white-space:nowrap; position : relative; font-family:Verdana , Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.readonlytext { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 2px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 1px}


.readonlytextodd { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.readonlytexteven { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.readonlytextoddclr { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.readonlytextevenclr { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.readonlytextnumberodd { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.readonlytextnumbereven { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}


.textbox { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ffffff; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.readonlytextboxnumber { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ffffff; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.textboxnumber { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ffffff; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.hyperlink { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:blue; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E1EAE1; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.labelewhite { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeleboldwhite { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:13px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeleboldhierrarchy { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:11px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeleboldhierrarchyright { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:11px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}


.labeleboldbuttonrow { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:13px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelebold {white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelobold { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeleboldtop { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeloboldtop { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeloboldwhite { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labellebold { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:13px; font-weight:bold; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #E1EAE1; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labellobold { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:13px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelgraybold { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:14px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.toprow { background-color: #FFFFFF; font-weight:bold}
.buttonrow { background-color: #E0E0DC}
.blackline { background-color: #000000}
.leftmenumessage { background-color: #E4E4D9}
.button { font-family : verdana; padding-left:2;font-size : 10px; font-style : normal; font-weight : normal; color : #000000; letter-spacing : normal; word-spacing : normal; border : 1px #333333 solid; background : #D0D3D5; }


.toprow1 { background-color: #ABC7ED; font-weight:bold; text-align: left}

.tabtext { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ffffff; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.iframe	{ background-color: #ECECEC; border-left:none;border-top:none}
.textboxdummy{ font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:0;font-size:1px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ffffff; text-align: left; border-color: #ffffff #ffffff #ffffff #ffffff; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.scroll {scrollbar-face-color:C1C1C1; scrollbar-highlight-color:506788; scrollbar-arrow-color:000000; scrollbar-track-color:9FB3CF }
.red {	FONT-SIZE: 8px; COLOR: #ff0000; VERTICAL-ALIGN: top}



.textwhite {
	BORDER-RIGHT: #e6e6e3 0px solid; BORDER-TOP: #e0e0dc 0px solid; MARGIN-TOP: 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #808080 0px solid; COLOR: #000000; BORDER-BOTTOM: #8e8e8c 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; POSITION: relative; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}

.textwhiteright {
	BORDER-RIGHT: #e6e6e3 0px solid; BORDER-TOP: #e0e0dc 0px solid; MARGIN-TOP: 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #808080 0px solid; COLOR: #000000; BORDER-BOTTOM: #8e8e8c 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; POSITION: relative; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}

.textwhiteleftitalic {
	BORDER-RIGHT: #e6e6e3 0px solid; BORDER-TOP: #e0e0dc 0px solid; MARGIN-TOP: 1px; PADDING-LEFT: 2px; FONT-STYLE: italic; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #808080 0px solid; COLOR: #000000; BORDER-BOTTOM: #8e8e8c 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: wrap; POSITION: relative; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.textwhitetop {
	BORDER-RIGHT: #e6e6e3 0px solid; BORDER-TOP: #e0e0dc 0px solid; MARGIN-TOP: 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: top; BORDER-LEFT: #808080 0px solid; COLOR: #000000; BORDER-BOTTOM: #8e8e8c 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; POSITION: relative; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.combowhite {
	BORDER-RIGHT: #e6e6e3 1px solid; BORDER-TOP: #e0e0dc 1px solid; MARGIN-TOP: 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #808080 1px solid; COLOR: #000000; BORDER-BOTTOM: #8e8e8c 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}





.milestonelink
{font-family:Verdana, Arial, Helvetica, sans-serif; line-height:12px; font-weight:bold; padding-left:2;font-size:11px; color:blue;;text-decoration: none}
 


.buttonunclick {
	white-space:nowrap;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:0;
	font-size:10px;
	font-weight:bold;
	color:#000000;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #E0E0DC;
	text-align: center;
	
	border-top-width : 2px;
	border-right-width : 2px;
	border-bottom-width : 2px;
	border-left-width : 2px;
	
	border-color : #8E8E8C #8E8E8C  #8E8E8C #808080;
	
	line-height: 20px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
}


.buttonclick {
	white-space:nowrap;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:0;
	font-size:10px;
	font-weight:bold;
	color:#000000;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #E0E0DC;
	text-align: center;
	line-height: 20px;
	
	border-top-width : 2px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 2px;
	
	border-color : #8E8E8C #8E8E8C #8E8E8C #808080;
	
	line-height: 20px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
}


.textcenterevendashpo
{ 	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:4;
	padding-right:4;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px ;
	background-color: #ECECEC;
	text-align: center;
	border-color: #FFFFFF;
	border-style: solid;
	white-space:nowrap;
	
}
.textcenterodddashpo
{ 
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:4;
	padding-right:4;
	font-size:11px; 
	font-weight:normal; 
	color:#000000; 
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	vertical-align: middle; 
	margin-top: 1px; 
	margin-bottom: 1px ; 
	background-color: #ECF5FF; 
	text-align: center; 
	border-color: #FFFFFF; 
	border-style: solid; 
	white-space:nowrap;
}
.labelowhiteright { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;padding-right:4;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeloredright { white-space:nowrap;font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:bold; color:#FFFFFF; vertical-align: middle; margin-top: 0px; margin-bottom: 1px ; background-color: #FF0000; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelowhiterightred { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;padding-right:4;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: right; border-color: #FF0000 #FF0000 #FF0000 #FF0000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.labelenowrap{ white-space:nowrap;font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelonowrap{ white-space:nowrap;font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}


.texteleftalignnowraplr { white-space:nowrap; position : relative; font-family:Verdana , Arial, Helvetica, sans-serif;  padding-left:2; padding-right:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.textoleftalignnowraplr { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;padding-right:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
