@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
BODY{
	/*font-family: Arial, Verdana;*/
/*color: #808080;*/
	/*font-size: 11px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	background: url(../images/back.gif) white;*/
    margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin_bottom: 0px;
	horizontal-align: left;
	text-align: left;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	color: #343434;
	/*background-color: #BBCCDC;*/
	/*background-image: url('../../images/page_bg.gif'); */
	}
img{
	border:0;
	}
.BODY	{
	/*font-family: Arial, Verdana;
	color: #808080;
	font-size: 11px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	background: url(../images/back.gif) white;*/
    margin-top: 3px;
	margin-left: 0px;
	margin-right: 0px;
	margin_bottom: 0px;
	horizontal-align: left;
	text-align: left;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	color: #343434;
	/*background-color: #BBCCDC;*/
	background-image: url('../images/page_bg.gif'); 
	}
td{ 
    font-family: 'open_sansregular'!important;
    font-size: 11px;
	}

H1 	{ 
	/*font-weight: normal; 
	color: #0000FF;
	font-size: 13pt;
	font-family: Arial;*/
	font-family: Arial, Tahoma, Verdana;
	font-size: 20px;
	color: #1D2F79;
	font-weight: bold;
	margin: 0em 0;
	vertical-align: bottom;
	padding: 0px;
	/*line-height: 16px;*/
	}

P	{
   color: #444444 !important;
    font-family: 'open_sansregular'!important;
    font-size: 13px !important;
    font-weight: 300 !important;
    text-decoration: none !important;
	margin:5px 0;
	}

li	{
	 font-family: 'open_sansregular'!important;
	font-size: 11px;	
	}

select	{
	/*font-family: Verdana, Arial;
	font-size: 11px;*/
    font-size: 11px;
	font-family: Verdana, Arial;
	/*border: 1px solid #FFFFFF;*/
	/*height: 15px;*/
	/*border: 1px solid #FFFFFF;*/
	/*height: 15px;*/
	}

input   {
	font-family: Verdana, Arial;
	font-size: 11px;

	}

no_effect.input {
	font-family: Verdana, Arial;
	font-size: 11px;

	}
a:hover{
	color:#EA4C3A !important;
	}
a:hover u{
	color:#EA4C3A !important;
	}
textarea{
	/*font-family: Verdana, Arial;
	font-size: 11px;*/
    /*border: 1px solid #BBCCDC;*/
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	color: #7D7D7D
	}

A:link 	{
	/*color: #015796; 
	text-decoration: underline;*/
	color: #3584B9;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	font-weight: normal; 
	text-decoration: none;
	} 
A:visited {
	/*color: #015796; 
	text-decoration: underline;*/
	color: #3584B9;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	}
A:hover {
	/*color: #808080; 
	text-decoration: underline;*/
	color: #CC0001; 
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
	} 
A:active {
	/*color: #015796; 
	text-decoration: underline;*/
	color: #0099FF;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
	}

A.menu:link 	{
	color: #FFFFFF; 
	text-decoration: none;
	font-size: 11px;
	} 
A.menu:visited {
	color: #FFFFFF; 
	text-decoration: none;
	font-size: 11px;
	}
A.menu:hover {
	color: #c0c0c0; 
	text-decoration: none;
	font-size: 11px;
	} 
A.menu:active {
	color: #FFFFFF; 
	text-decoration: none;
	font-size: 11px;
	}
.rec
{
	color: #1F15CC; 
	text-decoration: none;
	font-size: 11px;
}

td.q_head {
	border-left-width: 1; 
	border-right-width: 1; 
	border-top-width: 1; 
	border-bottom: 1px solid #C0C0C0; 
	background-color:#F8F8F8; border-bottom-width:1px
	}

/**Dynamic Menu Styles**/
table.MenuTableMain
{
	background-color: #F8F8F8;
	/*width: 130px;*/
	/*padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 5px;*/
}

a:link.MenuLink
{
	font-family: Arial , Arial, Verdana;
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
}
a:hover.MenuLink
{
	font-family: Arial , Arial, Verdana;
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
}
a:active.MenuLink
{
	font-family: Verdana;
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
}
a:visited.MenuLink
{
	font-family: Verdana;
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
}
div.domMenuMmenuBar
{
	border-left: 0px solid #666666;
	border-right: 0px solid #666666;
	border-top: 0px solid #666666;
	border-bottom: 0px solid #666666;
}
div.domMenuMenuElement
{
	/*border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;*/
	border-top: 0px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
	width: 150px;
/*	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #444444;
*/
	color: #444444;
	font-family: Verdana, Arial, Tahoma;
	font-size: 11px;
	font-weight: normal; 
	text-decoration: none;
	background-color: #D7E1EB;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;

}
div.domMenuSubMenuBar
{
	border: solid #ffffff;
	border-width: 1px 1px 1px 1px;
}
div.domMenuSubMenuElement
{
/*	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #444444;
*/
	border: solid #F5F5F5;
	border-width: 0px 0px 1px 0px;
	background-color: #D7E1EB;
	color: #444444;
	font-family: Verdana, Arial, Tahoma;
	font-size: 11px;
	font-weight: normal; 
	text-decoration: none;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
/*padding: 1px;*/
}
div.domMenuSubMenuElementHeading
{
	font-weight: normal;
}
div.domMenuMenuElementHover
{
	background-color: #F5F5F5;
	color: #3584B9; 
/*	color: #444444;*/
}
div.domMenuSubMenuElementHover
{
/*background-color: #909090;*/
	background-color: #F5F5F5;
/*	color: #444444;*/
	color: #3584B9; 
}

.TableRow{
	background-color: #ECF5FF;
	font-size: 11px;
}
.TableRowHead{
	/*background-color: #808080;*/
    background-color: #D7E1EB;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
}
.hyper:link 	{
	color: #015796; 
	text-decoration: underline;
	font-size: 11px;
	} 
.hyper:visited {
	color: #015796; 
	text-decoration: underline;
	font-size: 11px;
	}
.hyper:hover {
	color: #808080; 
	text-decoration: underline;
	font-size: 11px;
	} 
.hyper:active {
	color: #015796; 
	text-decoration: underline;
	font-size: 11px;
	}
.TableRowWhiteBG{
	font-size: 11px;
}
.BigText{ 
	font-family: Verdana, Arial;
	color: #012e71;
	font-size: 17px;
	font-weight: bold;
}
.heading
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 18px;
	color: #09216C;
}
.tdTabs
{
	background-color: #84CAEA;
    font-family: 'open_sansregular'!important;
    font-size: 14px !important;
    font-weight: 300 !important;
}
.tdTabs2
{
	background:url(../images/bod.jpg) repeat-x left top;
	font-family: 'Open Sans semibold', sans-serif !important;
	font-size: 14px;
	color:#424141;
	height:26px;
	padding-left:15px;
}
.tdTabsSelected{
	background-color: #BBCCDC;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}

.lColomn
{
    background-color: #EEEEEE;
    font-family: 'Open Sans semibold',sans-serif !important;
    font-size: 11px;
    overflow: hidden;
    padding: 5px 2px 5px 6px;
    text-align: left;
}
.tdTabs1
{
	background-color: #D7E1EB;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	padding-left: 3px;
	padding-right: 3px;
}
.rColomn
{
	background-color: #fbf1e7;
	padding:2px 3px;
	font-family: 'open_sansregular'!important;
	font-size: 11px;
}
.rColorLessColomn
{
	background-color: #FFFFFF;
	padding-left: 3px;
	padding-right: 3px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}
.newData
{
	background-color: #ECECEC;
	padding-left: 3px;
	padding-right: 3px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}
.newDataOnly
{
	padding-left: 3px;
	padding-right: 3px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}
.DataCellA
{
	background-color: #F4F4F4;
	padding-left: 3px;
	padding-right: 3px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}
.DataCellB
{
	background-color: #FAFAFA;
	padding-left: 3px;
	padding-right: 3px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}
.HighlightedCell
{
	background-color: #DFE8FD;
	padding-left: 3px;
	padding-right: 3px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}

input.button
{
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	color: #00355E;
	border-top:#d7e1eb solid 1px;
	border-right:#d7e1eb solid 1px;
	border-bottom:#d7e1eb solid 1px;
	border-left:#d7e1eb solid 1px;
	background:url(../images/bgcolor.gif) repeat-x top;
}
input.text
{
	border: 1px solid #BBCCDC;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	color: #444444

}



.normalrows{
background: #f1faff;
font-size: 12px;
color: #000;
padding: 1px 5px 1px 10px;
}


.editabletext{
border: 1px solid #BBCCDC;
font-size: 11px;
font-family: Arial, Tahoma, Verdana;
color: #444444
height: 16px;
background: #FFFFFF;
}

.paging
{
	color: #444444;
	font-size: 10px;
	height: 24px;
	vartical-align : bottom;
}
.disabled_input
{
	color: #FFFFFF;
	border: 1px solid #ECE9D8;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
}
td.ptd, .ptd		{ font-size: 11px;}
.errMsg		{ background-color: #FFFFCC; border: solid 1px  #FF0000; height: 22px;}
.infMsg
{
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	background-color: #FFFFE6;
	border: 1px dashed #33BDFF;
	height: 22px;
}
.confMsg	{ background-color: #FFFFCC; border: solid 1px #660000;}
.quesMsg	{ background-color: #FFFFCC; border: solid 1px #0000FF;}
.preloadDialog {
	background : #eee;
	border : 1px solid #999;
	-moz-border-radius : 5px;
	padding : 1px;
}
.eventClass{
background: #ECF5FF;
font-size: 11px;
padding-left: 6px;
padding-top: 2px;
padding-bottom: 2px;
padding-right: 2px;
}
.txt
{
font-family: Arial, Tahoma, Verdana;
font-size: 11px;
padding-left: 6px;
padding-right: 2px;
}
.crmfTopHeader {
	background: url(extjs/resources/images/default/basic-dialog/hd-sprite.gif) repeat-x 0 -82px;
	background-color:navy;
	color:#FFF;
	font:bold 12px "sans serif", tahoma, verdana, helvetica;
	overflow:hidden;
	padding:5px;
    white-space: nowrap;

}
.lColomn1
{
	background-color: #f5f4d3;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	text-align: left;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}
.tdHead
{
	background-color: #D7E1EB;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	padding-left: 3px;
	padding-right: 3px;
}

.noneditabletext{
	border:none;	
	background-color: #F9F9F9;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	color:#343434;
	
}
.FilterHeader { font-size:9px; color:#FF0000;}
.formtitle {
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin: 0 0 2px;
}
.LeftHeading{ font-weight:bold; height:22px;}
.IconSpacer { padding-left:50px;}
.worklog { padding-left:4px;}
.TopAlign td {vertical-align:text-top;}
.noBullet { list-style-image:none;} 
.messageBar { color:#669966;}












.title-head{
font-family: 'Open Sans', sans-serif;
font-size:18px;
color:#0068b1;
font-weight:700;
text-transform:uppercase;
padding-left:4px;
float:left;
width:100%;
	}
.title-head2{
color:#24796f;
padding-left:5px;
	}
.smallLink{
font-family: 'open_sansregular'!important;
font-size:13px !important;
color:#444444 !important;
font-weight:300 !important;
	}
u{
font-family: 'open_sansregular'!important;
font-size:13px !important;
color:#444444 !important;
font-weight:300 !important;
text-decoration:none !important;
	}
.tableText .tdText{
font-family: 'open_sansregular'!important;
font-size:13px !important;
color:#fff !important;
font-weight:300 !important;
text-decoration:none !important;
padding-left:9px;
	}
	
	




/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	float: left;
}
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	font-size: 14px !important;
    padding: 4px 12px;
	text-decoration: none;
	zoom: 1; /* IE7 */
	font-family: 'open_sansregular'!important;
}
#example.sf-menu a {
	color: #101e38;
}
#example.sf-menu li:hover a {
	color: #fff;
}
.sf-menu li {
	float:left;
}
.sf-menu ul li {
	background: #333;
	border-bottom: 1px solid #515151;
	width:200px;
}
#example.sf-menu ul li a {
	color:#FFF;
	font-size:12px !important;
	display:block;
	white-space:normal !important;
}
.sf-menu ul ul li {
	background: #444;
}
#example.sf-menu ul ul li a {
	color:#FFF;
	font-size:12px !important;
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	background: #3c3c3c;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}
#example.sf-menu a:hover {
    color: #fff !important;
}

/*** arrows (for all except IE7) **/
.axioms{
	float: left;
	margin:0;
	padding-left:6px;
	padding-top:118px;
	}
.axioms li{
	float: left;
	padding-left:14px;
	background:url(../images/yellow-arrow.png) no-repeat left 5px;
    font-family: 'open_sansregular'!important;
    font-size: 13px !important;
    font-weight: 300 !important;
	width:266px;
	list-style:none;
	color:#FFF;
	}
.links{
	float: left;
	margin:0;
	padding-top:5px;
	padding-left:1px;
	}
.links li {
    background: url("../images/disc.png") no-repeat scroll left 6px rgba(0, 0, 0, 0);
    float: left;
    list-style: none outside none;
    padding: 2px 0 2px 10px;
    width: 227px;
}
.links li a{
	float: left;
    font-family: 'open_sansregular'!important;
    font-size: 13px !important;
    font-weight: 300 !important;
	display:block;
	line-height:13px;
}
.lnews{
	float: left;
	margin:0;
	padding-left:0px;
	padding-top:0px;
	}
.lnews li {
    background:#EEEEEE;
    float: left;
    list-style: none outside none;
    margin: 1px 0;
    padding: 3px 6px;
    width: 254px;
}
.lnews li a.plus{
	float: left;
	padding-left:16px;
	background:url(../images/box-arrow.jpg) no-repeat left 1px;
    font-family: 'open_sansregular'!important;
    font-size: 11px !important;
    font-weight: 300 !important;
	display:block;
	color:#444444;
}
.lnews li a img.img-box{
	float: right;
}
.lColomn a.job{
	float: left;
    font-family: 'open_sansregular'!important;
    font-size: 12px !important;
    font-weight: 300 !important;
	display:block;
	line-height:13px;
	color:#444444;
	}


