@font-face {
    font-family: 'CalibriRegular';
    src: url('fonts/calibri/calibri-webfont.eot');
    src: url('fonts/calibri/calibri-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/calibri/calibri-webfont.woff') format('woff'),  url('fonts/calibri/calibri-webfont.ttf') format('truetype'),  url('fonts/calibri/calibri-webfont.svg#CalibriRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
#header ul.main-nav {
    float:left;
    background: url("../images/gray_bg.gif") repeat center bottom;
    padding:0 0 0 16px;
    margin:0;
    height:27px;

}
#header ul.main-nav li {
    font-weight: bold;
    text-align: left;
    float:left;
    list-style:none;
    position:relative;
}
#header ul.main-nav li a {
    color: #303A79;
    display: block;
    float: left;
    font-family: 'CalibriRegular';
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    padding: 6px 15px 7px;
    text-decoration: none;
    z-index: 1;
}
#header ul.main-nav li a:hover{
    color: #FFFFFF;
    background:#3c3c3c;
}
#header ul.main-nav li:hover > a {
    color: #FFFFFF;
    background:#3c3c3c;
}


#header ul.main-nav ul.sub-nav {
    display: none;
    float: left;
    left: 0;
    margin: 0;
    position: absolute;
    width: 204px;
    z-index: 99999;
    min-width:133px;
    top:27px;
    padding-left:0;
    padding-bottom:0;
    background: url("../images/sub-menu.png") repeat center bottom;
}

#header ul.main-nav li:hover > ul.sub-nav {
    display:block;
}
#header ul.main-nav ul.sub-nav li {
    border-bottom:solid 1px #515151;
    width:204px!important;
}
#header ul.main-nav ul.sub-nav ul li {
    border-bottom:solid 1px #c4c4c4;
    width:204px!important;
}
.sub-nav li {
    width:175px !important;
}
#header ul.main-nav ul.sub-nav li a {
    font-size: 14px !important;
    font-weight: normal;
    line-height: 14px;
    padding: 6px 15px 7px;
    width:174px;
    color:#FFF;


}
#header ul.main-nav ul.sub-nav li a:hover {
    background:#0b1038;

}
#header ul.main-nav ul.sub-nav ul {
    top:0;
    display: none;
    float: left;
    left: 204px;
    margin: 0;
    position: absolute;
    background: url("../images/2ns-level.png") repeat center bottom;
    padding-left:0;
}
#header ul.main-nav ul.sub-nav li:hover ul {
    display:inline-block;
}
#header ul.main-nav ul.sub-nav ul li a {
    color: #303A79;
}
.main-nav-right li a{
    background: none repeat scroll 0 0 transparent !important;
    margin: 0 3px !important;
    padding: 2px 0 !important;
}
.main-nav-right li{
    font-weight:normal !important;
}
#header ul.main-nav ul.sub-nav ul li a:hover, #header ul.main-nav ul ul li:hover a {
    background:#3c3c3c;
    color:#FFF;
}
a.have-child:hover, #header ul.main-nav li:hover > a.have-child {
    background: url("../images/hover-arrow.jpg") no-repeat right top #0b1038 !important;
}
.main-nav-right{
    float:right !important;
}
.ilex-menu{
    float:left;
    width:100%;
    background: url("../images/gray_bg.gif") repeat center bottom;
}

/*------------"Header End"------------*/


#ilex_top_menu ul li:hover > ul {
    display:block;
}

#ilex_top_menu .sf-menu a {
    color: #101e38;
}

#ilex_top_menu .sf-menu ul li a {
    color: #FFF;
    font-size: 12px !important;
    display: block;
    white-space: normal !important;
}