@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.eot');
    src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('opensans-regular-webfont.woff') format('woff'),
         url('opensans-regular-webfont.ttf') format('truetype'),
         url('opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}

.sf-menu a {
	display: inline-block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
	display:none;
}
#AutoNumber2{
	position:relative;
	z-index:5000;
}


/*** DEMO SKIN ***/
.sf-menu {
	float: left;
}
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	font-size: 14px !important;
    padding: 4px 12px;
	text-decoration: none;
	zoom: 1; /* IE7 */
	font-family: 'open_sansregular'!important;
}
#example.sf-menu a {
	color: #101e38;
}
#example.sf-menu li:hover a {
	color: #fff !important;
}
#example.sf-menu li:hover > a {
	color: #fff !important;
}
.sf-menu li {
	float:left;
}
.sf-menu ul li {
	background: #333;
	border-bottom: 1px solid #515151;
	width:215px;
}
.sf-menu li:hover ul ul {
	display:none !important;
}
.sf-menu ul li:hover ul {
	display:block !important;
}
#example.sf-menu ul li a {
	color:#FFF;
	font-size:12px !important;
	display:block;
	white-space:normal !important;
}
.sf-menu ul ul li {
	background: #444;
}
#example.sf-menu ul ul li a {
	color:#FFF;
	font-size:12px !important;
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	background: #3c3c3c;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}
.sf-menu li:hover a,
.sf-menu li.sfHover a {
	color:#FFF !important;
}
#example.sf-menu a:hover {
    color: #fff !important;
}
