body{
margin: 0px;
padding: 0px;
font-family: Arial, Tahoma, Verdana;
}

h1{
font-size: 16px;
font-weight: bold;
color: #2e3d80;
padding: 8px 0px 2px 0px;
margin: 0px 0px 0px 0px;
}

/*Table styles */
.colCaptions{
font-size: 11px;
padding: 4px 0px 4px 0px;
text-align: center;
color: #000000;
background: #d7e1eb;
}

/* General label and text styles */
.label1{
height: 18px;
white-space: normal;
font-size: 11px;
vertical-align : bottom;
padding: 3px 5px 0px 10px;
color: #333333;
background: #f9f9f9;
}

/* Alternate Rows Used in Tabuler Data */
table th{
font-weight: normal;
font-size: 11px;
padding: 3px 0px 3px 5px;
text-align: left;
color: #545556;
background: #ececec;
}

.rowLight{
font-size: 10px;
padding: 2px 2px 2px 2px;
color: #000000;
background: #ececec;
vertical-align : top;
}

.rowDark{
font-size: 10px;
padding: 2px 2px 2px 2px;
color: #000000;
background: #f9f9f9;
vertical-align : top;
}

.warningA{
font-size: 10px;
padding: 2px 2px 2px 2px;
color: #000000;
background: #e5f9de;
vertical-align : top;
}

.warningB{
font-size: 10px;
padding: 2px 2px 2px 2px;
color: #000000;
background: #fff1f0;
vertical-align : top;
}

.warningC {
font-size: 10px;
padding: 2px 2px 2px 2px;
color: #000000;
background: #ffccc9;
vertical-align : top;
}

/* Alternate Columns Used in Forms */
.colDark{
height: 18px;
width: 150px;
font-size: 11px;
vertical-align : top;
padding: 3px 5px 0px 18px;
color: #333333;
background: #ececec;
}

* Alternate Columns Used in Forms */
.colDarkA {
font-size: 11px;
vertical-align : top;
padding: 3px 5px 0px 18px;
color: #333333;
background: #ececec;
}
 
.colLight{
height: 18px;
white-space: normal;
font-size: 11px;
vertical-align : top;
padding: 3px 5px 0px 10px;
color: #333333;
background: #f9f9f9;
}

#grandtotal{
white-space: normal;
font-size: 11px;
padding: 0px 5px 0px 10px;
color: #333333;
/*background: #E9F3FC;*/
}

/* Messages */
.errorMessage{
font-size: 14px;
font-style: bold;
padding: 10px 5px 5px 5px;
color: #ff0000;
}

.successMessage {
font-size: 14px;
font-style: bold;
padding: 10px 5px 5px 5px;
color: #0000ff;
}

/* Forms style goes here */
.formCaption{
font-size: 11px;
font-weight: bold;
padding: 2px 0px 1px 8px;
height: 22px;
color: #333333;
background: #ececec;
}

#tableLinks a{
font-size: 11px;
color: #1479a2;
text-decoration: none;
}

#tableLinks a:hover{
color: #234958;
text-decoration: none;
}

.legend{
color: #8e8e8e;
font-size: 11px;
}

input.checkBox{
margin: 0px;
padding: 0px;
}

input.button
{
	font-size: 11px;
	font-family: Verdana, Arial;
	color: #00355E;
	margin: 8px 0px 8px 0px;
}

input.button1
{
	font-size: 11px;
	font-family: Verdana, Arial;
	color: #00355E;
}

input.addButton
{
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Arial;
	background: #F6FCFC url(../images/add.gif) right no-repeat;
	background-position: 5px 2px;
	color: #00355E;
	margin: 1px 0px 1px 0px;
	padding: 0px 3px 0px 12px;
	border: 1px solid #D2D2D2;
}

input.text
{
	border: 1px solid #b9cada;
	font-size: 11px;
	color: #000000;
}

.textarea
{
	border: 1px solid #b9cada;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	color: #7D7D7D;

}

.select
{
	font-size: 11px;
	border: 1px solid #b9cada;
}

.radioText{
font-size: 11px;
color: #000000;
}

/* filters classes goes here */
.filters{
font-size: 10px;
font-weight: bold;
display: block;
}

.filtersCaption{
font-size: 11px;
font-weight: normal;
text-align: center;
padding: 2px 0px 3px 7px;
color: #000000;
}

#featured{
font-size: 10px;
}

#featured a{
color: #333333;
text-decoration: none;
}

#featured a:hover{
color: #63869C;
text-decoration: none;
}

#featured{
position: relative;
}

.remSpace{
margin: -1px 0 -1px 0
}

.secSeperator{
height: 1px;
}

.secSeperatorLine{
height: 1px;
background: #000000;
}