.ypcontainer {
	Z-INDEX: 100;
	VISIBILITY: hidden;
	POSITION: relative;
	margin-left: 10px;
	FILTER: alpha(opacity=95);
	opacity: 95;
	text-align: left;
}

.ypcontents {
	POSITION: absolute;
}
.ypcontents A:link {
	padding: 2px 5px 0px 15px;
	height: 18px;
}
	
.ypcontents A:hover {
	padding: 2px 5px 0px 15px;
	height: 18px;
}

.ypcontents A:visited {
	padding: 2px 5px 0px 15px;
	height: 18px;
}

.menuAbout {
	FONT-SIZE: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	WIDTH: 255px; 
}

.menuAbout A {
	DISPLAY: block; 
	height: 18px;
	padding: 0px 25px 0px 10px;
	COLOR: #000000;
	height: 18px;
	BACKGROUND-COLOR: #c9d9e8; 
	TEXT-DECORATION: none;
	border-left: 8px solid #c9d9e8;
}

.menuAbout A:hover {
	COLOR: #FFFFFF;
	BACKGROUND-COLOR: #303a79;
	border-left: 8px solid #8DA4C2;
}
.rule {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 1px; BACKGROUND-COLOR: #f0f1f3;
}