/*//////////////////////////////////////////////////

Read it throuly to understand the css.
Use appropriate class by viewing the existing HTML.
You have to define size in each textBox Because text size is not common But class is common "class = 'text'";
///////////////////////////////////////////////////*/


body{
margin: 0px;
padding: 0px;
font-family: Arial, Tahoma, Verdana;
}

h1{
font-size: 16px;
font-weight: bold;
color: #2e3d80;
padding: 12px 0px 2px 16px;
margin: 0px 0px 0px 0px;
}

/*Table styles */

.colCaptions{
font-size: 11px;
padding: 4px 0px 4px 0px;
text-align: center;
color: #545556;
background: #d7e1eb;
}


/* Alternate Rows Used in Tabuler Data */
.rowDark{
font-size: 11px;
padding: 0px 5px 0px 5px;
color: #000000;
background: #ececec;
}

.rowLight{
font-size: 11px;
padding: 0px 5px 0px 5px;
color: #000000;
background: #f9f9f9;
}

/* Alternate Columns Used in Forms */
.colDark{
font-size: 11px;
padding: 0px 5px 0px 25px;
color: #333333;
background: #ececec;
}

.colLight{
font-size: 11px;
padding: 0px 5px 0px 10px;
color: #333333;
background: #f9f9f9;
}

.tabNormalText{
font-size: 10px;
padding: 1px 5px 1px 5px;
color: #000000;
}

/* all status classes goes here */


/* Must give this id with all status */

#status{
font-size: 11px;
padding: 0px 5px 0px 5px;
color: #000000;
}

.inworkStatus{
background: #FFFCEC;
}

.completeStatus{
background: #E1EDF5;
}

.reconcieldStatus{
background: #E5F8DE;
}

.inworkTbsStatus{
background: #FFF1F0;
}

.inworkOverdueStatus{
background: #FFCCC9;
}

.inworkOverdueStatus{
background: #FFCCC9;
}

/* Table formating ends here */


/* History or breadCrumb code goes here */

#breadCrumb{
font-size: 9px;
font-family: Arial, Helvetica, sans-serif;
color: #a1a1a1;
padding: 0px 0px 0px 4px;
}

#breadCrumb a{
margin: 0px 0px 0px 4px;
padding: 0px 0px 0px 8px;
display: inline;
background: url(../images/historyBullets.gif) left no-repeat;
background-position: .10em;
color: #B99C2C;
text-decoration: none;
}

#breadCrumb a:hover{
margin: 0px 0px 0px 4px;
padding: 0px 0px 0px 8px;
text-decoration: none;
color: #7A681D;
}

#breadCrumb .currentSelected{
margin: 0px 0px 0px 4px;
padding: 0px 0px 0px 8px;
background: url(../images/historyBullets.gif) left no-repeat;
background-position: .10em;
color: #808080;
}

/* Use this where you don't want to appear bullet */

#breadCrumb .bgNone{
background: none;
}

/* Sub Navigation code goes here */

#subNavigation ul{
font-size: 10px;
display: inline;
}

#subNavigation li{
list-style-type: none;
float: left;
border-left: 1px solid #cdcdcd;
}

.parentLinks{
display: block;
color: #000000;
height: 19px;
vertical-align: bottom;
float: left;
padding: 0px 15px 0px 15px;
text-decoration: none;
}

#subNavigation li a:hover{
background: #303a79;
color: #FFFFFF;
}

/*Navigation ends here


/* Forms style goes here */
/* use appropriate class for input type */
.formCaption{
font-size: 11px;
font-weight: bold;
padding: 2px 0px 2px 8px;
height: 22px;
color: #333333;
background: #ececec;
}


.tableLinks a{
font-size: 11px;
color: #1479a2;
text-decoration: none;
}

.tableLinks a:hover{
color: #234958;
text-decoration: none;
}

.legend{
color: #8e8e8e;
font-size: 11px;
}

input.checkBox{
margin: 0px;
padding: 0px;
}

input.button
{
	font-size: 11px;
	font-family: Verdana, Arial;
	color: #00355E;
	margin: 8px 0px 8px 0px;
	/*border: 1px solid #c9d9e8;*/
}

input.text
{
	border: 1px solid #b9cada;
	font-size: 11px;
	color: #000000;
}

.textarea
{
	border: 1px solid #b9cada;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	color: #7D7D7D;

}

.select
{
	font-size: 11px;
	border: 1px solid #b9cada;
	width: 188px;
}

.radioText{
font-size: 11px;
color: #000000;
}


/* filters classes goes here */

.filters{
font-size: 10px;
font-weight: bold;
display: block;
}

.filtersCaption{
font-size: 10px;
font-weight: bold;
font-family: Verdana, Arial, Helvetica, sans-serif;
padding: 2px 0px 3px 7px;
color: #333333;
}

#featured{
font-size: 10px;
}

#featured a{
color: #333333;
text-decoration: none;
}

#featured a:hover{
color: #63869C;
text-decoration: none;
}