.body {
background-color:#F5F3F3;
}



.textlink{
	font-family:"Arial", "Verdana";
	font-size:10px;
	color: #0066CC;
	padding-left: 5px;
}
.textlink:hover{
	font-family:"Arial", "Verdana";
	font-size:10px;
	color: #CC3300;
	padding-left: 5px;
}




.blacktext a:link {font-family:"Verdana","Arial";font-size:12;color:black;font-weight:bold;}
.blacktext a:visited {font-family:"Verdana","Arial";font-size:12;color:black;font-weight:bold;}
.blacktext {
	font-family:"Verdana","Arial";
	font-size:12;
	color:black;
	text-decoration:none;
	padding-left: 5px;
}

.formhead {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333333;
	text-decoration:none;
	font-weight: bold;
	border-right-width: 0px;
	border-right-style: none;
}
.formtext {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333333;
	text-decoration:none;
	font-weight: normal;
	border-right-width: 0px;
	border-right-style: none;
}
.dropdwn { background-color: #CCCCCC; border: 1px #3678BA solid; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #333333; padding-top: 1px; padding-bottom: 1px ;    rect(   ); padding-left: 1px; background-position: 22px}.prenext {

	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#993300;
	text-decoration:none;
	font-weight: normal;
	border-right-width: 0px;
	border-right-style: none;
}
.stdPagePadding{
   padding-left: 14px;
   padding-top: 14px;
   }