<style>
/*************************
Style Definitions

Font sizes: 10, 11, 12

Font weight: Normal and Bold

Color Scheme
  A = #8198CC Light Blue 
  B = #696969 Light Gray
  C = #000000 Black
  D = #F6F6F6 Gray
  
Padding and Margin: As defined by class (p and m)

Borders:  As defined by class (b)

Alignment: By classes ac, ar, and al
*/

/* General */

td {
vertical-align: text-bottom;
}

.bgcD {
    background-color:#EAEAEA;
}

/* Text */

.txtA12N, .txtA11N, .txtB12N, .txtB11N, .txtC10N {
   font-family : Arial, Helvetica, sans-serif;
   font-weight : normal;
}
.txtA12B, .txtA11B, .txtB12B, .txtB11B {
   font-family : Arial, Helvetica, sans-serif;
   font-weight : bold;
}
/* Font Size */
.txtA12N, txtA12B, .txtB12N, txtB12B {
   font-size : 12px;
}
.txtA11N, .txtA11B, .txtB11N, .txtB11B {
   font-size : 11px;
}
.txtC10N {
   font-size : 10px;
}
/* Color */
.txtA12N, .txtA11N, .txtA12B, .txtA11B {
   color: #8198CC;
}
.txtB12N, .txtB11N, .txtB12B, .txtB11B {
   color: #606060;
}
.txtC10N {
   color: #000000;
}

/* Padding */

.p00001200 {
    padding : 0px 0px 12px 0px;
}
.p00121212 {
    padding : 0px 12px 12px 12px;
}
.p00111111 {
    padding : 0px 11px 11px 11px;
}
.p00001000 {
    padding : 0px 0px 10px 0px;
}
.p04120100 {
    padding : 4px 12px 1px 0px;
}
.p4818 {
    padding : 4px 8px 1px 8px;
}
.p0050 {
    padding : 0px 0px 5px 0px;
}
.p5000 {
    padding : 5px 0px 0px 0px;
}
.p5005 {
    padding : 5px 0px 0px 5px;
}
.p5050
{
    padding : 5px 0px 5px 0px;
}
.p0040 {
    padding : 0px 0px 4px 0px;
}
.p3010 {
    padding : 3px 0px 1px 0px;
}
.p0010 {
    padding : 0px 0px 1px 0px;
}

/* Alignment */

.ar {
    text-align : right;
}
.ac {
    text-align : center;
}
.al {
    text-align : left;
}

/* Special */

.rule1BM1010 {
   margin : 1px 0px 1px 0px; 
   border-top : 1px solid #898989; 
}
.rule1AM1010 {
   margin : 1px 0px 1px 0px; 
   border-top : 1px solid #8198CC; 
}
.rule2BM1010 {
   margin : 1px 0px 1px 0px; 
   border-top : 1px solid #898989; 
   border-bottom : 1px solid #898989;
}
</style>
<div style="margin : 0px 0px 0px 0px">
<table border="0" cellspacing="0" cellpadding="0">
<tr><td colspan="2" class="txtB11B p0050">Job Information</td></tr>
<tr><td colspan="2">
  <table border="0" cellspacing="0" cellpadding="0">
    <tr><td class="txtB11N p0050">Appendix/Job Title:</td><td>&nbsp;</td></tr>
    <tr><td class="txtB11N p0050">Offsite Date:</td><td>&nbsp;</td></tr>
    <tr><td class="txtB11N p0050">Site Location:</td><td>&nbsp;</td></tr>
    <tr>
    <td colspan="2">
    <table border="0" cellspacing="1" cellpadding="0">
    <tr>
      <td class="txtB11N p0050">PF Cost:</td><td>&nbsp;&nbsp;&nbsp;</td>
      <td class="txtB11N p0050">Actual Cost:</td><td>&nbsp;&nbsp;&nbsp;</td>
      <td class="txtB11N p0050">Revenue:</td><td>&nbsp;&nbsp;&nbsp;</td>
      <td class="txtB11N p0050">VGPM:</td><td>&nbsp;&nbsp;&nbsp;</td>
      <td class="txtB11N p0050">PF VGPM:</td><td></td>
    </tr>
    </table>
    </td>
    </tr>
 </table>
</td></tr>

<tr><td colspan="2" class="txtB11B p5050">Resource Details</td></tr>

<tr><td colspan="2">
<table border="0" cellspacing="0" cellpadding="0">
<tr>
  <td class="txtB11N"><b>PO:</b></td>
  <td class="">&nbsp;</td>
  <td class="txtB11N"><b>Exception:</b></td>
  <td class="">&nbsp;</td>
</tr>
</table> 
<table border="0" cellspacing="0" cellpadding="0">

<tr>
  <td colspan="7" class="txtB11B p3010 ac">Job</td>
  <td>&nbsp;</td>
  <td colspan="3" class="txtA11B p3010 ac">Purchase Order</td>
</tr>

<tr>
  <td colspan="7" class="rule1BM1010"><img src="sp1.gif"></td>
  <td colspan="1"><img src="sp1.gif"></td>
  <td colspan="3" class="rule1AM1010"><img src="sp1.gif"></td>
</tr>

<tr class="txtB11N p3010 ar">
  <td class="p04120100 al">Resource Name</td>
  <td class="p4818 ac">Type</td>
  <td class="p4818 ac">Billable</td>
  <td class="p4818 ac">OOS</td>
  <td width="25">Qty</td>
  <td width="45">Unit<br>Cost</td>
  <td width="45">Total<br>Cost</td>
  <td><img src="sp1.gif" width="10"></td>
  <td width="25" class="txtA11N">Qty</td>
  <td width="45" class="txtA11N">Unit<br>Cost</td>
  <td width="45" class="txtA11N">Total<br>Cost</td>
</tr>


<tr class="txtC10N p3010 ar">
  <td class="al">Software Engineer</td>
  <td class="ac">Labor</td>
  <td class="ac">Yes</td>
  <td class="ac">No</td>
  <td>&nbsp;5.5</td>
  <td>&nbsp;111.00</td>
  <td>&nbsp;1,230.00</td>
  <td><img src="sp1.gif" width="10"></td>
  <td>&nbsp;11.9</td>
  <td>&nbsp;444.01</td>
  <td>&nbsp;1,230.00</td>
</tr>

<tr class="txtC10N p3010 ar bgcD">
   <td class="al">Software Engineer</td>
  <td class="ac">Labor</td>
  <td class="ac">Yes</td>
  <td class="ac">No</td>
  <td>&nbsp;5.5</td>
  <td>&nbsp;111.00</td>
  <td>&nbsp;1,230.00</td>
  <td><img src="sp1.gif" width="10"></td>
  <td>&nbsp;11.9</td>
  <td>&nbsp;444.01</td>
  <td>&nbsp;1,230.00</td>
</tr>

<tr class="txtC10N p3010 ar">
  <td class="al">Software Engineer</td>
  <td class="ac">Labor</td>
  <td class="ac">Yes</td>
  <td class="ac">No</td>
  <td>&nbsp;5.5</td>
  <td>&nbsp;111.00</td>
  <td>&nbsp;1,230.00</td>
  <td><img src="sp1.gif" width="10"></td>
  <td>&nbsp;11.9</td>
  <td>&nbsp;444.01</td>
  <td>&nbsp;1,230.00</td>
</tr>

<tr><td colspan="11"><img src="sp1.gif" height="3"></td></tr>

<tr><td colspan="11" class="rule2BM1010"><img src="sp1.gif"></td></tr>

<tr class="txtB11B p5005 ar">
  <td class="p5000 al">Total</td>
  <td class="ac">&nbsp;</td>
  <td class="ac">&nbsp;</td>
  <td class="ac">&nbsp;</td>
  <td>&nbsp;5.5</td>
  <td>$111.00</td>
  <td>$1,230.00</td>
  <td><img src="sp1.gif" width="10"></td>
  <td class="txtA11B">&nbsp;11.9</td>
  <td class="txtA11B">$444.01</td>
  <td class="txtA11B">$1,230.00</td>
</tr>
</table>
</td></tr>
</table>
</div>