* 									{ margin: 0; padding: 0; }
body								{ line-height:12px; font: 10px Verdana, Arial, Helvetica, sans-serif; } 
a									{ text-decoration: none; }
ul									{ list-style: none; }
p                                   { margin: 15px 0; }

/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; }
ul.dropdown li                      { font-weight: normal; float: left; zoom: 1; background: #C9D9E8; border-left: 1px solid #cdcdcd;}
ul.dropdown a:hover		            { color: #ffffff; background: #303a79;}
ul.dropdown a:active                { }
ul.dropdown li a                    { display: block; padding: 4px 8px;  color: #222;}
ul.dropdown li:hover a                  { display: block; padding: 4px 8px; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,

ul.dropdown li:hover                { position: relative; }
ul.dropdown li.hover a              { }


/* 
	LEVEL TWO
*/
ul.dropdown li ul,
ul.dropdown li:hover ul 						{ width: 150px; visibility: hidden; position: absolute; top: 100%; left: 0;}
ul.dropdown li ul li,
ul.dropdown li:hover ul li 					{ font-weight: normal; background: #C9D9E8; color: #000; 
									  border-bottom: 1px solid #ccc; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown li ul li a,
ul.dropdown li.hover ul li a          { color: #000000;}
ul.dropdown li.hover ul li a:hover          { background: #303a79;color: #ffffff;}

/* 
	LEVEL THREE
*/
ul.dropdown ul li ul,
ul.dropdown ul li:hover ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }