/* [ Main nav ]

----------------------------------------------- */

#subNavigation ul {
	font-size: 10px;
	display: inline;
	z-index: 1; /* Added for Mac Safari issue */
}

#subNavigation ul li {
	list-style-type: none;
	float: left;
	border-left: 1px solid #cdcdcd;
}

#subNavigation ul li a {
display: block;
color: #000000;
float: left;
padding: 2px 15px 4px 15px;
text-decoration: none;
}
	
#subNavigation ul li a:hover{
background: #303a79;
color: #FFFFFF;
}

#subNavigation ul li ul {
	width: 206px;
	w\idth: 215px; /* Fix for IE5 */
	list-style: none;
	position: absolute;
	top: 18px;
	left: -39px;
	display: none;
	border-bottom: 1px solid #F4F9FD;
}

#subNavigation ul li ul li{
	width: 206px;
	min-width: 215px;
	white-space: nowrap;
	height: 20px;
	background: #C9D9E8;
	border-top: 1px solid #F4F9FD;
	display: block;
	filter:alpha(opacity=95);
	-moz-opacity:.95;
	opacity:.95;
}

#subNavigation ul li ul li a {
	width: 206px;
	max-width: 177px; /* Fix for IE5 */
	color: #000000;
	display: block;
	border-left: 8px solid #C9D9E8;
}

#subNavigation ul li ul li a:hover {
	COLOR: #FFFFFF;
	display: block;
	BACKGROUND-COLOR: #303a79;
	border-left: 8px solid #8DA4C2;
}

/* Display sub-menus */
#subNavigation li:hover ul,

#subNavigation li li:hover ul,

#subNavigation li li li:hover ul,

#subNavigation li.over ul,

#subNavigation li li.over ul,

#subNavigation li li li.over ul
 {
	display: block;
	}

/* shows Filters menu */
#featured1 div li{
list-style: none;
margin: 4px 0 0 0;
height: 18px;
padding: 0;
}

#featured1 div li span{
	list-style: none;
	position: absolute;
	display: none;
	left: -100px;
	top: 8px;
}

/* Display sub-menus 	*/

#featured1 li.over span{
	display: block;
}
	
