.body
{
	 margin:0px;
	
}
.headerrow
{
	background-color:#C9D9E8;
	text-align:center;
	
}
.menufont
{
	font-family:Arial, Tahoma, Verdana;
	line-height:12px;
	font-weight:normal;
	font-size:10px;
	color:#000000;
	text-decoration: none;
	white-space:nowrap; 
		
}
#breadCrumb .bgNone{
	background: none;
}
#breadCrumb .currentSelected{
	margin: 0px 0px 0px 4px;
	padding: 0px 0px 0px 8px;
	background: url(../images/historyBullets.gif) left no-repeat;
	background-position: .10em;
	color: #808080;
}
.imgstyle
{
    padding: 0px;
}
.divstyle
{
	padding: 5px;
    background: #A2A0B8;
    border: 1px solid #bdbdbd;
}
.divtable
{
	background:#f9f9f9; 
	border:1px solid #ADBECF;
}
.filtersCaption
{
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	padding: 2px 0px 3px 7px;
	color: #000000;
}
.tabNormalText
{
	font-size: 11px;
	padding: 1px 5px 1px 5px;
	color: #000000;
}
.checkboxstyle
{
	display:none;
}
.imagefilter
{
	background: no-repeat;

}
.divbutton
{
	margin: 0px 10px 0px 0px;
}
.colCaptions{
	font-size: 11px;
	padding: 4px 0px 4px 0px;
	text-align: center;
	color: #000000;
	background: #d7e1eb;
}
.rowDark{
	font-size: 11px;
	padding: 0px 5px 0px 5px;
	color: #000000;
	background: #ececec;
}

.rowLight{
	font-size: 11px;
	padding: 0px 5px 0px 5px;
	color: #000000;
	background: #f9f9f9;
}




