/*--------------Page Content Standards-------------*/
.PCTXT0001
 { font-family:Verdana, Arial, Helvetica, sans-serif;  
 padding-left:2;
 font-size:11px; 
 font-weight:normal; 
 color:#000000; 
 vertical-align: middle;
 background-color: #ffffff; 
 text-align: right; 
 
  }
  .PCCOMBO001 { font-family:Verdana, Arial, Helvetica, sans-serif;  
  padding-left:2;font-size:10px;
   font-weight:normal; color:#000000;
   vertical-align: middle; margin-top: 1px;
    margin-bottom: 1px ;
    background-color: #f9f9f9; 
    text-align: center;
     border-color: #E0E0DC #E6E6E3 #8E8E8C #808080;
      border-style: solid;
       border-top-width: 1px; 
      border-right-width: 1px;
       border-bottom-width: 1px;
       border-left-width: 1px}
.PCTXT0003
{
text-align: right;
font-size: 11px;
font-weight: bold;
white-space:nowrap;
font-family:Verdana, Arial, Helvetica, sans-serif;
padding-left:4;
padding-right:4;
color:#000000;
vertical-align: middle;
margin-top: 1px;
margin-bottom: 1px;
background-color: #d7e1eb;
border-color: #E0E0DC #E6E6E3 #8E8E8C #808080;

	}
.PCSSH0001
{
	font-size: 12px;
	font-weight: bold;
	color: #2e3c97;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	text-align: left;
	white-space: nowrap;
	}

.PCSSH0002
{
margin-top: 25px
}
.PCLAB0001
{
 font-size: 11px;
 font-weight: bold;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 vertical-align: top;
 padding-bottom: 5px;
 padding-top: 5px;
 white-space: nowrap;
 text-align: left;
}

.PCSTD0001
{
 font-size: 11px;
 font-weight: bold;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 vertical-align: top;
 padding-bottom: 5px;
 padding-top: 5px;
 white-space: nowrap;
 text-align: left;
}
.PCSTD0002
{
font-size: 11px;
 font-weight: normal;
 font-family:Verdana, Arial, Helvetica, sans-serif;
 vertical-align: top;
 padding-bottom: 5px;
 padding-top: 5px;
 white-space: nowrap;
 text-align: left;
}
.PCSTD0003
{
border-right:1px solid;
border-bottom:1px solid;
border-color: white;
}
.PCSTD0004{
white-space:nowrap;
font-family:Verdana, Arial, Helvetica, sans-serif;
padding-left:4;
padding-right:4;
font-size:11px;
font-weight:bold;
color:#000000;
vertical-align: middle;
background-color: #d7e1eb;
text-align: center;
}
.PCSTD0005{
border-bottom:1px solid;
border-color: white;
}
.PCSTDODD0001 {
white-space:nowrap;
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px;
padding: 2px 4px 2px 4px;
color: #000000;
background: #ececec;
}
.PCSTDEVEN0001 {
white-space:nowrap;
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px;
padding: 2px 4px 2px 4px;
color: #000000;
background: #f9f9f9;
}
.PCNAV0001 a:link
 {color:#0000FF;}      /* unvisited link */
.PCNAV0001 a:visited {color:#7F007F;}  /* visited link */
.PCNAV0001 a:hover {color:purple;}  /* mouse over link */
.PCNAV0001 a:active {color:#772233;}  /* selected link */
/*-------------- Page Content End-------------*/


/*--------------Work Area  standards -------------*/
.WASTD0001
{
margin-left: 20px;
margin-top: 20px;
}
.WASTD0002
{
margin-left: 20px;
}
/*--------------work area  standards end  -------------*/


/*--------------Message standards -------------*/

.MSSUC0001
{
font-weight: bold; 
font-size:12px;
white-space: nowrap;
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #657383
	}
.MSERR0001
{
font-weight: bold;
 font-size:12px;
 font-family:Verdana, Arial, Helvetica, sans-serif; 
 color: red;
 white-space: nowrap;
}
	
/*-------------- Message standards End-------------*/

/*-------------- Table Standards -------------*/
.TBDAT0001
{
text-align: center;
white-space: nowrap;
}

.TBMON0001
{
text-align: right;
white-space: nowrap;
}

.TBTXT0001
{
text-align: left;
white-space: nowrap;
}
.TBTXT0002
{
text-align: center;
white-space: nowrap;
}
.TBTXT0003
{
font-size: 11px;
font-weight: bold;
white-space:nowrap;
font-family:Verdana, Arial, Helvetica, sans-serif; 
padding: 2px 4px 2px 4px;
color:#000000;
vertical-align: middle;
background-color: #d7e1eb;
}

.TBSTD0001 {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px;
color: #000000;
text-align: left;
white-space:nowrap;
margin:6px 0pt 6px;
}

.TBSTD0001 thead tr {
background-color: #D9DFEF;
font-weight: bold;
text-align: center;
padding: 2px 5px 2px 5px;
white-space: nowrap;

}
 
.TBSTD0001 thead tr th{
padding: 5px 5px 5px 5px;
white-space: nowrap;
}
.TBSTD0002 {
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size: 11px;
color: #000000;
text-align: left;
white-space:nowrap;
margin:6px 0pt 6px;
background-color: #faf8cc;
border-color : #faf8cc #faf8cc #faf8cc #faf8cc;
border-style : solid;
border-top-width : 4px;
border-right-width : 4px;
border-bottom-width : 4px;
border-left-width :4px;
}

.TBSTD0002 thead tr {
background-color: #e0e0dc;
font-weight: bold;
text-align: center;
padding: 2px 5px 2px 5px;
white-space: nowrap;

}
 
.TBSTD0002 thead tr th{
padding: 5px 5px 5px 5px;
white-space: nowrap;
}
.TBSSH0001{
border-color : #FFFFFF #BDBFC1 #849DC0 #849DC0;
border-style : solid;
border-top-width : 0px;
border-right-width : 1px;
border-bottom-width : 1px;
border-left-width :1px;
padding-left:0
}
.TBSSH0002{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:0;
	font-size:10px;
	font-weight:bold;
	color:#000000;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #CEDFF7;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFD2D5;
	border-right-color: #FFFFFF;
	border-bottom-color: #849DC0;
	border-left-color: #FFFFFF;
	line-height: 20px;
}
.TBSSH0003{
font-family:Verdana, Arial, Helvetica, sans-serif;
padding-left:0;
font-size:10px;
font-weight:bold;
color:#000000;
vertical-align: middle;
margin-top: 1px;
margin-bottom: 1px;
background-color: #D7DDE4;
text-align: center;
border-top-width: 1px;
border-right-width: 0px;
border-bottom-width: 1px;
border-left-width: 0px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #CFD2D5;
border-right-color: #FFFFFF;
border-bottom-color: #849DC0;
border-left-color: #FFFFFF;
line-height: 20px;
	}
.TBPCT0001{
	PADDING-RIGHT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 10px; 
	PADDING-BOTTOM: 0.5px; COLOR: #000000; PADDING-TOP: 0.5px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; 
	WHITE-SPACE: nowrap ;
	TEXT-ALIGN: left 
	}

.TBPCT0002{
FONT-WEIGHT: normal; FONT-SIZE: 10px; 
	PADDING-BOTTOM: 0.5px; COLOR: #000000; PADDING-TOP: 0.5px; 
	FONT-STYLE: normal; 
	font-weight:bold;
	FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; 
	WHITE-SPACE: nowrap;
	text-align: right;	
}
.TBPCT0003
{
	PADDING-RIGHT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 10px; 
	PADDING-BOTTOM: 0.5px; COLOR: #000000; PADDING-TOP: 0.5px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; 
	WHITE-SPACE: nowrap; 
	TEXT-ALIGN: Center; 
	horizontal-align: Center

}
.TBPCT0004
{
background-color: #FFAA6C;
}
.TBPCT0005
{
font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
font-size: 11;
font-style:normal;
font-weight:normal;
color: #000000;
padding: 0px 0px 0px 0px;
border-left-width: 0px;
border-right-width: 1px;
border-top-width: 0px;
border-bottom-width: 0px;
border-right-style: solid;
border-right-color: #849DC0;
white-space:nowrap;
}
.TBWID0001 {
margin-left:20px;
font-family:arial;

font-size: 11px;
color: #000000;
text-align: left;
white-space:nowrap;
padding: 2px 5px 2px 5px;
margin:6px 0pt 6px;
}

.TBWID0001 thead tr {
background-color: #D9DFEF;
text-align: center;
font-weight: bold;
padding: 2px 5px 2px 5px;
}

.TBWID0001 thead tr th{
padding: 5px 10px 5px 10px;
margin:10px 0pt 15px;
white-space: nowrap;
}
/*-------------- table standards End-------------*/



/*--------------BreadCrumb--------------*/
#BCNAV0001{
font-size: 9px;
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #a1a1a1;
padding: 0px 0px 0px 0px;
}

#BCNAV0001 a{
margin: 0px 0px 0px 0px;
padding-left:15px;
padding-right:0px;
display: inline;
background: url(../images/historyBullets_1.gif) left no-repeat;
background-position: .10em;
color: #B99C2C;
text-decoration: none;
}

#BCNAV0001 a:hover{
text-decoration: none;
color: #7A681D;
}

#BCNAV0001 .currentSelected{
margin: 15px 0px 0px 4px;
padding: 0px 0px 0px 8px;
background: url(../docm/images/historyBullets_1.gif) left no-repeat;
background-position: .10em;
color: #808080;
}

#BCNAV0001 .BCNAV0002{
margin: 15px 0px 0px 0px;
background: none;
}
.BCPAG0001{
font-size: 9px;
font-family: Verdana, Arial, Helvetica, sans-serif; 
font-weight: bold;
color: #0A3488 ;
padding: 0px 0px 0px 0px;
white-space: nowrap;
}

.BCMEN0001 { 
background-color: #C9D9E8;
font-weight:bold;
text-align: center;
border-left: 1px solid #cdcdcd;
}

.BCMEN0002
{
font-family:Verdana, Arial, Helvetica, sans-serif;
line-height:12px;
font-weight:normal;
font-size:10px;
color:#000000;
text-decoration: none;
white-space:nowrap; 
display: inline;
z-index: 1;
display: block;
float: left;
padding: 2px 15px 4px 15px;
}
.BCSTD0001
{
background-color:#C9D9E8;
text-align:center;
}
.BCSTD0002
{
font-family: Arial, Tahoma, Verdana;
color:#333333;
font-size: 10px;
white-space: nowrap;
}
.BCSTD0002 a{
	color: #333333;
	text-decoration: none;
}

.BCSTD0002 a:hover{
	color: #63869C;
	text-decoration: none;
}

.BCSTD0002{
	position: relative;
}
/*--------------BreadCrumb  End--------------*/


/*--------------pop up window --------------*/
.PUSTD0001{
padding: 5px;
background: #A2A0B8;
border: 1px solid #bdbdbd;
font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
z-index: 2;
position:absolute;
left:0px;
top:38px;
visibility:hidden;
width:65px;
height:67px;
}
.PUSTD0002{
background:#f9f9f9;
border:1px solid #ADBECF;

}
.PUTXT0001{
font-size: 11px;
font-weight: normal;
text-align: center;
padding: 2px 0px 3px 7px;
color: #000000;
}
.PUTXT0002{
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	white-space:nowrap;
	padding: 1px 5px 1px 5px;
	color: #000000;
}
.PUIMG0001{
background: no-repeat;
}
.PUSSH0001{
font-size: 12px; 
font-weight:bold;
white-space:nowrap;
font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
padding: 4px;
color: #000000; 
background: #FAF8CC;
}
.PUBDR0001{
border:'3px solid #aaa';
}
/*--------------End--------------*/




/*--------------form  Standards--------------*/
.FMBUT0001
{ font-family : Verdana, Arial, Helvetica, sans-serif; 
padding-left:2;
font-size : 11px;
margin-top: 20px;
font-style : normal;
font-weight : normal;
color : #000000;
letter-spacing : normal;
word-spacing : normal;
border : 1px #333333 solid;
background : #d7e1eb;
}
.FMBUT0002
{ font-family : Verdana, Arial, Helvetica, sans-serif; 
padding-left:2;
font-size : 11px;
font-style : normal;
font-weight : normal;
color : #000000;
letter-spacing : normal;
word-spacing : normal;
border : 1px #333333 solid;
background : #d7e1eb;
}
.FMRAD0001
{
align: right;
}

.FMCHK0001
{
align: right;
}


/*---------------------Tree For MSP CSS--------------------------*/
.treeview, .treeview ul { 
	padding: 0;
	margin: 0;
	list-style: none;
	background: url(../images/msp_image.jpeg) 0 0 no-repeat;
}

.treeview ul {
	background-color: white;
	margin-top: 5px;
	background: url(../images/msp_image.jpeg) 0 0 no-repeat;
}

.treeview .hitarea {
	background: url(../images/treeview-default.gif) -64px -25px no-repeat;
	height: 16px;
	width: 16px;
	margin-left: -16px;
	float: left;
	cursor: pointer;
}
/* fix for IE6 */
* html .hitarea {
	display: inline;
	float:none;
}

.treeview li { 
	margin: 0;
	padding: 0px 0pt 0px 16px;
}

.treeview a.selected {
	background-color: #eee;
}

#treecontrol { margin: 1em 0; display: none; }

.treeview .hover { color: red; cursor: pointer; }

.treeview li { background: url(../images/treeview-default-line.gif) 0 0 no-repeat; }



.treeview .expandable-hitarea { background-position: -80px -3px; }

.treeview li.last { background-position: 0 -1766px }

/*Added Default view vijay--Start*/
.treeview-default li { padding: 0px 0px 5px 16px; }
.treeview-default li { background-image: url(../images/treeview-default-line.gif); }
.treeview-default .hitarea, .treeview-gray li.lastCollapsable, .treeview-gray li.lastExpandable { background-image: url(../images/treeview-default-1.gif); } 
/*------------------End*/
.mbtAdminLink{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	padding-left:2;
	font-size:11px;
	font-weight:normal;
	color:#5188d3 !important; 
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px ;
	text-align: left;
	border-color: #E0E0DC #E6E6E3 #8E8E8C #808080;
	border-style: solid; 
	border-top-width: 0px; 
	border-right-width: 0px; 
	border-bottom-width: 0px;
	border-left-width: 0px; 
	white-space: nowrap}
}
.headerpaleyellow {
	white-space:nowrap;  
	font-size: 11px; 
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-weight:bold;
	color: #000000; 
	background: #FAF8CC;
		
	}



/*--------------End--------------*/

