.dbheader
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 12;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	padding: 2px 1px ( left, right )
	         
}

.dbheaderdisable
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 12;
	font-style: normal;
	font-weight: bold;
	color: #959595;
	padding: 2px 1px ( left, right )
}

.dbheaderbottom
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 12;
	font-style: normal;
	font-weight: bold;
	color: #3E5472;
	padding: 2px 1px ( left, right )
   
}
.dblabel
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11;
	font-style:normal;
	font-weight:bold;
	color: #000000;
	padding: 2px 1px ( left, right );
	white-space:nowrap;
	overflow: clip
}
.dblabeltop
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11;
	font-style:normal;
	font-weight:bold;
	color: #000000;
	padding: 2px 1px ( left, right );
	white-space:nowrap;
	overflow: clip;
	vertical-align : top
}

.dblabelbottom
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11;
	font-style:normal;
	font-weight:bold;
	color: #000000;
	padding: 2px 1px ( left, right );
	white-space:nowrap;
	overflow: clip;
	vertical-align : bottom
}

.dblabelsmall {
	PADDING-RIGHT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 10px; 
	PADDING-BOTTOM: 0.5px; COLOR: #000000; PADDING-TOP: 0.5px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; 
	WHITE-SPACE: nowrap TEXT-ALIGN: left 
}

.dbvaluesmall {
	PADDING-RIGHT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 10px; 
	PADDING-BOTTOM: 0.5px; COLOR: #000000; PADDING-TOP: 0.5px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; 
	WHITE-SPACE: nowrap TEXT-ALIGN: left 
}

.dbvaluesmallCenter {
	PADDING-RIGHT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 10px; 
	PADDING-BOTTOM: 0.5px; COLOR: #000000; PADDING-TOP: 0.5px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; 
	WHITE-SPACE: nowrap; 
	TEXT-ALIGN: Center; 
	horizontal-align: Center
}

.dbvaluesmallRightAlign {
	PADDING-RIGHT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 10px; 
	PADDING-BOTTOM: 0.5px; COLOR: #000000; PADDING-TOP: 0.5px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; 
	WHITE-SPACE: nowrap ;
	TEXT-ALIGN: right 
}

.dbvaluesmallLeftAlign {
	PADDING-RIGHT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 10px; 
	PADDING-BOTTOM: 0.5px; COLOR: #000000; PADDING-TOP: 0.5px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; 
	WHITE-SPACE: nowrap ;
	TEXT-ALIGN: left 
}

.dbvaluerightsmall
{
	FONT-WEIGHT: normal; FONT-SIZE: 10px; 
	PADDING-BOTTOM: 0.5px; COLOR: #000000; PADDING-TOP: 0.5px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; 
	WHITE-SPACE: nowrap;
	text-align: right;	 
}
.dbvaluerightsmallgreen
{
	PADDING-RIGHT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 10px; 
	PADDING-BOTTOM: 0.5px; COLOR: #000000; PADDING-TOP: 0.5px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; 
	WHITE-SPACE: nowrap TEXT-ALIGN: left; 
	COLOR:#258B00;
	
}

.dbtextboxro
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11;
	font-style:normal;
	font-weight:normal;
	color: #3E5472;
	padding: 2px 1px ( left, right );
   vertical-align: middle;
	 margin-top: 0px;
	 margin-bottom: 0px ;
	 text-align: left;
	 border-style: none;
	 border-top-width: 1px;
	 border-right-width: 1px;
	 border-bottom-width: 1px;
	 border-left-width: 1px;
     background: #E8ECF3 no-repeat top left;
}
.dbvalue
{	
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 10;
	font-style:normal;
	font-weight:normal;
	color: #000000;
	padding: 2px 1px ( left, right );
	white-space:nowrap
}
.dbvalueDisabled
{	
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 10;
	font-style:normal;
	font-weight:normal;
	color: #b3b2b0;
	padding: 2px 1px ( left, right );
	white-space:nowrap
}

.dbvaluesmallFont
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11px;
	white-space: nowrap;
	padding: 0px 2px;
	margin: 0px;
	line-height: 25px;
}
.dbvaluesmallFont2
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 10;
	font-style:normal;
	font-weight:normal;
	color: #000000;
	padding: 2px 1px ( left, right );	
}

.dbvaluesmallFontBold
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 10;
	font-style:normal;
	font-weight:bold;
	color: #000000;
	padding: 2px 1px ( left, right );
	white-space:nowrap;
}
.dbvaluesmallFontBoldBackground
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:4px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:10px;
	font-weight:bold;
	color:#000000;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
	text-align: left;
	line-height: 20px;
}

.dbvaluewrap
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11;
	font-style:normal;
	font-weight:normal;
	color: #000000;
	padding: 2px 1px ( left, right );
}

.dbvaluesmall {
	PADDING-RIGHT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 10px; 
	PADDING-BOTTOM: 0.5px; COLOR: #000000; PADDING-TOP: 0.5px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; 
	WHITE-SPACE: nowrap TEXT-ALIGN: left 
}

.dbvalueleftb
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11;
	font-style:normal;
	font-weight:normal;
	color: #000000;
	padding: 0px 0px 0px 0px;
	border-left-width: 0px;
	border-right-width: 1px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-style: solid;
	border-right-color: #849DC0;
	white-space:nowrap
}

.dbcolhdr
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 10;
	font-style:normal;
	font-weight:normal;
	color: #FFFFFF;
	background: #7590BA no-repeat top left;
	padding: 2px 1px ( left, right )
}

.dbcolgrphdr
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 10;
	font-style:normal;
	font-weight:bold;
	color: #FFFFFF;
	background: #7590BA no-repeat top left;
	padding: 2px 1px ( left, right )
}
.dbtable
{
border-color : #000000 #000000 #000000 #000000;
border-style : solid;
border-top-width : 1px;
border-right-width : 1px;
border-bottom-width : 1px;
border-left-width : 1px
	

}
.dbsummtable
{
border-color : #FFFFFF #BDBFC1 #849DC0 #849DC0;
border-style : solid;
border-top-width : 0px;
border-right-width : 1px;
border-bottom-width : 1px;
border-left-width :1px;
padding-left:0	

}
.dbsummtabletopborder
{
border-color : #BDBFC1 #BDBFC1 #BDBFC1 #BDBFC1;
border-style : solid;
border-top-width : 1px;
border-right-width : 1px;
border-bottom-width : 1px;
border-left-width :1px;
padding-left:0	

}
.dbbgtop
{
	background: #FFFFFF no-repeat top left;
	vertical-align : top;
	border-color : #000000 #000000 #000000 #000000;
	border-style : none;
	border-top-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-left-width : 1px
}

.dbhdrtop
{
	background: #DCDCCB no-repeat top left;
	border-color : #000000 #000000 #000000 #000000;
	border-style : solid;
	border-top-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-left-width : 1px
}

.dbhdrbottom
{
	background: #E3EFFF no-repeat top left;
	border-color : #000000 #000000 #000000 #000000;
	border-style : solid;
	border-top-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-left-width : 1px
}

.dbbgbottom
{
	background: #FFFFFF no-repeat top left;
	vertical-align : top;
	border-color : #000000 #000000 #000000 #000000;
	border-style : solid;
	border-top-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-left-width : 1px
}
.dbbgnotfound
{
	background: #E8ECF3 no-repeat top left;
}

.dbfooter
{
	background: #DCDCCB no-repeat top left;
}

.dbbgwhite
{
	background: #ffffff no-repeat top left;
}

.dbbgtextreadodd
{

		font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11;
	font-style:normal;
	font-weight:normal;
	color: #000000;
	padding: 2px 1px ( left, right );
    vertical-align: middle;
 
	 margin-top: 0px;
	 margin-bottom: 0px ;
	 text-align: left;
	 border-style: none;
	 border-top-width: 0px;
	 border-right-width: 0px;
	 border-bottom-width: 0px;
	 border-left-width: 0px;
     background: #DCDCCB no-repeat top left;

}


.dbbgtextreadeven
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11;
	font-style:normal;
	font-weight:normal;
	color: #000000;
	padding: 2px 1px ( left, right );
    vertical-align: middle;
 
	 margin-top: 0px;
	 margin-bottom: 0px ;
	 text-align: left;
	 border-style: none;
	 border-top-width: 0px;
	 border-right-width: 0px;
	 border-bottom-width: 0px;
	 border-left-width: 0px;
     background: #E3EFFF no-repeat top left;
}

.dbbarhead
{
	COLOR: #000000;
	font-size: 11px;
	FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif';
	FONT-WEIGHT: normal;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 3px;
	TEXT-DECORATION: none
	
}

.dbnavigate
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 8;
	font-style:normal;
	font-weight:bold;
	color: #000000;
	padding: 2px 1px ( left, right )
}

.dbbdrright
{
	background: #FFFFFF no-repeat top left;
	vertical-align : top;
	border-color : #ffffff #7590BA #ffffff #ffffff;
	border-style : solid;
	border-top-width : 0px;
	border-right-width : 2px;
	border-bottom-width : 0px;
	border-left-width : 0px
}

.dblabele
{  font-family:Verdana, Arial, Helvetica, sans-serif; 
	padding-left:0;font-size:10px; font-weight:bold;
	color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ;
	background-color: #ECF5FF; 
	text-align: center;
	border-color: #000000;
	border-style: solid; 
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	white-space:nowrap
	}

.dblabeleclose
{  font-family:Verdana, Arial, Helvetica, sans-serif; 
	padding-left:2;
	padding-right:2;
	font-size:10px; 
	font-weight:bold;
	color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ;
	background-color: #ECF5FF; 
	text-align: center;
	border-color: #000000;
	border-style: solid; 
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	white-space:nowrap
	}

.dblabeleheader
{   font-family:Verdana, Arial, Helvetica, sans-serif; 
	padding-left:0;font-size:10px; font-weight:bold;
	color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ;
	background-color: #ECF5FF; 
	text-align: center;
	border-color: #000000;
	border-style: solid; 
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width:0px;
	white-space:nowrap
	}

.dblabelebutton
{   font-family:Verdana, Arial, Helvetica, sans-serif; 
	padding-left:2;font-size:10px; font-weight:normal;
	color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ;
	background-color: #ECF5FF; 
	text-align: left;
	border-color: #000000;
	border-style: solid; 
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width:1px;
	white-space:nowrap
	}



.dbsummtable1
{
border-color : #000000 #000000 #000000 #000000;
border-style : solid;
border-top-width : 1px;
border-right-width : 1px;
border-bottom-width : 0px;
border-left-width : 0px
	

}
.dbsummtable2
{
border-color : #000000 #000000 #000000 #000000;
border-style : solid;
border-top-width : 2px;
border-right-width : 0px;
border-bottom-width : 0px;
border-left-width : 0px
	

}
.dbsummtable3
{
border-color : #000000 #000000 #000000 #000000;
border-style : solid;
border-top-width : 0px;
border-right-width : 0px;
border-bottom-width : 0px;
border-left-width : 0px
	

}
.dbvalueeven
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11;
	font-style:normal;
	font-weight:normal;
	color: #000000;
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	padding-left:2;
	padding-right:2;
	
	text-align: center;
	background-color: #ECECEC;
	border-style: solid;
	border-color: #FFFFFF; 
	white-space:nowrap;
	
}

.dbvalueevenheader
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11;
	font-style:normal;
	font-weight:normal;
	color: #000000;
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	padding-left:2;
	padding-right:2;
	
	text-align: center;
	background-color: #E0E0DC;
	border-style: solid;
	border-color: #000000; 
	white-space:nowrap;
		
}

.dbvalueodd
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11;
	font-style:normal;
	font-weight:normal;
	color: #000000;
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	padding-left:2;
	padding-right:2;
	
	text-align: center;
	background-color: #ECF5FF;
	border-style: solid;
	border-color: #FFFFFF; 
	white-space:nowrap;
}

.numberodd 
{ 
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:4;
	padding-right:4;
	font-size:11px; 
	font-weight:normal; 
	color:#000000; 
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	vertical-align: middle; 
	margin-top: 1px; 
	margin-bottom: 1px ; 
	background-color: #ECF5FF; 
	text-align: right; 
	border-color: #FFFFFF; 
	border-style: solid; 
	white-space:nowrap
	
}
.numbereven 
{ 	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:4;
	padding-right:4;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px ;
	background-color: #ECECEC;
	text-align: right;
	border-color: #FFFFFF;
	border-style: solid;
	white-space:nowrap
	
}

.textleftodd 
{ 
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:2;
	font-size:11px; 
	font-weight:normal; 
	color:#000000; 
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	vertical-align: middle; 
	margin-top: 1px; 
	margin-bottom: 1px ; 
	background-color: #ECF5FF; 
	text-align: left; 
	border-color: #FFFFFF; 
	border-style: solid; 
	white-space:nowrap;
}
.textleftoddtop 
{ 
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:2;
	font-size:11px; 
	font-weight:normal; 
	color:#000000; 
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	vertical-align: top; 
	margin-top: 1px; 
	margin-bottom: 1px ; 
	background-color: #ECF5FF; 
	text-align: left; 
	border-color: #FFFFFF; 
	border-style: solid; 
	white-space:nowrap;
}
.textlefteven 
{ 	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:2;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px ;
	background-color: #ECECEC;
	text-align: left;
	border-color: #FFFFFF;
	border-style: solid;
	white-space:nowrap;
	
}
.textlefteventop 
{ 	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:2;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	vertical-align: top;
	margin-top: 1px;
	margin-bottom: 1px ;
	background-color: #ECECEC;
	text-align: left;
	border-color: #FFFFFF;
	border-style: solid;
	white-space:nowrap;
	
}



.dbvalueevenlastrow
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11;
	font-style:normal;
	font-weight:normal;
	color: #000000;
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 1px;
	border-left-width : 1px;
	padding-left:2;
	padding-right:2;
	
	text-align: center;
	background-color: #ECECEC;
	border-style: solid;
	border-color: #FFFFFF; 
	white-space:nowrap;
	
}
.dbvalueoddlastrow
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11;
	font-style:normal;
	font-weight:normal;
	color: #000000;
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 1px;
	border-left-width : 1px;
	padding-left:2;
	padding-right:2;
	
	text-align: center;
	background-color: #ECF5FF;
	border-style: solid;
	border-color: #FFFFFF; 
	white-space:nowrap;
}

.numberoddlastrow 
{ 
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:2;
	padding-right:2;
	font-size:11px; 
	font-weight:normal; 
	color:#000000; 
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 1px;
	border-left-width : 1px;
	vertical-align: middle; 
	margin-top: 1px; 
	margin-bottom: 1px ; 
	background-color: #ECF5FF; 
	text-align: right; 
	border-color: #FFFFFF; 
	border-style: solid; 
	
}
.numberevenlastrow 
{ 	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:2;
	padding-right:2;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 1px;
	border-left-width : 1px;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px ;
	background-color: #ECECEC;
	text-align: right;
	border-color: #FFFFFF;
	border-style: solid;
	white-space:nowrap
	
}

.textleftoddlastrow 
{ 
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:2;
	font-size:11px; 
	font-weight:normal; 
	color:#000000; 
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 1px;
	border-left-width : 1px;
	vertical-align: middle; 
	margin-top: 1px; 
	margin-bottom: 1px ; 
	background-color: #ECF5FF; 
	text-align: left; 
	border-color: #FFFFFF; 
	border-style: solid; 
	white-space:nowrap;
}

.textleftevenlastrow 
{ 	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:2;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 1px;
	border-left-width : 1px;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px ;
	background-color: #ECECEC;
	text-align: left;
	border-color: #FFFFFF;
	border-style: solid;
	white-space:nowrap;
	
}


.textleftblank 
{ 
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:0;
	font-size:11px; 
	font-weight:normal; 
	color:#000000; 
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 0px;
	vertical-align: middle; 
	margin-top: 1px; 
	margin-bottom: 1px ; 
	background-color: #ECF5FF; 
	text-align: left; 
	border-color: #FFFFFF; 
	border-style: solid; 
	white-space:nowrap
	
}


.dblabelgreen
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11;
	font-style:italic;
	font-weight:bold;
	color: #258B00;
	padding: 2px 1px ( left, right )
}

.dbvaluecenter {
	PADDING-RIGHT: 1px; 
	FONT-WEIGHT: normal; FONT-SIZE: 11px; 
	PADDING-BOTTOM: 0.5px; COLOR: #000000; PADDING-TOP: 0.5px; 
	FONT-STYLE: normal; 
	FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; 
	WHITE-SPACE: nowrap; 
	TEXT-ALIGN: center 
}


.dbvalueright
{
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size: 11;
	font-style:normal;
	font-weight:normal;
	color: #000000;
	text-align: right;
	padding: 2px 1px ( left, right )
}




.dbvalueevenlastcolumn {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; 
	PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #000000 1px solid; 
	COLOR: #000000; BORDER-BOTTOM: #000000 0px solid; FONT-STYLE: normal; 
	FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; WHITE-SPACE: nowrap; 
	BACKGROUND-COLOR: #ececec; TEXT-ALIGN: center
}

.dbvalueoddlastcolumn {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; 
	PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #000000 1px solid; 
	COLOR: #000000; BORDER-BOTTOM: #000000 0px solid; FONT-STYLE: normal;
	 FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; WHITE-SPACE: nowrap; 
	 BACKGROUND-COLOR: #ECF5FF; TEXT-ALIGN: center
}

.dbvalueevenlastrowcolumn {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; 
	BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; BORDER-LEFT: #000000 1px solid; COLOR: #000000; 
	BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal; FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; 
	WHITE-SPACE: nowrap; BACKGROUND-COLOR: #ececec; TEXT-ALIGN: center
}

.dbvalueoddlastrowcolumn {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; 
	PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: #000000 1px solid; 
	COLOR: #000000; BORDER-BOTTOM: #000000 1px solid; FONT-STYLE: normal; 
	FONT-FAMILY: 'Verdana', Arial, Helvetica, 'sans-serif'; WHITE-SPACE: nowrap; 
	BACKGROUND-COLOR: #ECF5FF; TEXT-ALIGN: center
}


.trybtop {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:0;
	font-size:10px;
	font-weight:bold;
	color:#000000;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #CEDFF7;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFD2D5;
	border-right-color: #FFFFFF;
	border-bottom-color: #849DC0;
	border-left-color: #FFFFFF;
	line-height: 20px;
}

.trybtopsmall {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:0;
	font-size:10px;
	font-weight:bold;
	color:#000000;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #CEDFF7;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFD2D5;
	border-right-color: #FFFFFF;
	border-bottom-color: #849DC0;
	border-left-color: #FFFFFF;
	line-height: 15px;
}

.trybtopo {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:0;
	padding-top:0;
	font-size:10px;
	font-weight:bold;
	color:#000000;
	vertical-align: middle;
	margin-top: 0px;
	margin-bottom: 1px;
	background-color: #CEDFF7;
	text-align: center;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: normal;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFD2D5;
	border-right-color: #FFFFFF;
	border-bottom-color: #849DC0;
	border-left-color: #FFFFFF;
	line-height: 20px;
}

.trybtopsub {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:0;
	font-size:10px;
	font-weight:bold;
	color:#000000;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #D7DDE4;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFD2D5;
	border-right-color: #FFFFFF;
	border-bottom-color: #849DC0;
	border-left-color: #FFFFFF;
	line-height: 20px;
}

.trybtopclose {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:0;
	font-size:10px;
	font-weight:bold;
	color:#000000;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #CEDFF7;
	text-align: center;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFD2D5;
	border-right-color: #FFFFFF;
	border-bottom-color: #849DC0;
	border-left-color: #FFFFFF;
	line-height: 20px;
}


.trybtopbutton {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:0;
	font-size:10px;
	font-weight:bold;
	color:#000000;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #CEDFF7;
	text-align: left;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFD2D5;
	border-right-color: #FFFFFF;
	border-bottom-color: #849DC0;
	border-left-color: #FFFFFF;
	line-height: 20px;
}


.trybtopsubbutton {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:0;
	font-size:10px;
	font-weight:bold;
	color:#000000;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #D7DDE4;
	text-align: left;
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CFD2D5;
	border-right-color: #FFFFFF;
	border-bottom-color: #849DC0;
	border-left-color: #FFFFFF;
	line-height: 20px;
}

.textboxnumberreadonly { 
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:2;font-size:11px; 
	font-weight:normal; 
	color:#000000; 
	vertical-align: middle; 
	margin-top: 1px; 
	margin-bottom: 1px ; 
	background-color: #ffffff; 
	text-align: right; 
	border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; 
	border-style: none; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px
	}
.textboxnumberreadonlymiddle { 
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:4;font-size:11px; 
	font-weight:normal; 
	color:#000000; 
	vertical-align: middle; 
	margin-top: 1px; 
	margin-bottom: 1px ; 
	background-color: #ffffff; 
	text-align:  Center;
	border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; 
	border-style: none; 
	border-top-width: 1px; 
	border-right-width: 1px; 
	border-bottom-width: 1px; 
	border-left-width: 1px
	}








.appendixsubheadercolor
 { 
	 
	background-color: #FFAA6C; 
	
}
	
.jobsubheadercolor 
{ 
	
	background-color: #FBD6B2; 
	
}


.textleftevendash
{ 	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:4;
	padding-right:4;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px ;
	background-color: #ECECEC;
	text-align: left;
	border-color: #FFFFFF;
	border-style: solid;
	white-space:nowrap;
	
}
.textleftodddash
{ 
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:4;
	padding-right:4;
	font-size:11px; 
	font-weight:normal; 
	color:#000000; 
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	vertical-align: middle; 
	margin-top: 1px; 
	margin-bottom: 1px ; 
	background-color: #ECF5FF; 
	text-align: left; 
	border-color: #FFFFFF; 
	border-style: solid; 
	white-space:nowrap;
}

.textlefteven1 
{ 	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:2;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-top-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 0px;
	vertical-align: top;
	margin-top: 0px;
	margin-bottom: 0px ;
	background-color: #ECECEC;
	text-align: left;
	border-color: #FFFFFF;
	border-style: none;
	
	
}
	
.textleftodd1
{ 
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:2;
	font-size:11px; 
	font-weight:normal; 
	color:#000000; 
	border-top-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 0px;
	vertical-align: top; 
	margin-top: 0px; 
	margin-bottom: 0px ; 
	background-color: #ECF5FF; 
	text-align: left; 
	border-color: #FFFFFF; 
	border-style: none; 
	
}

 .dbbgtextreadodd
{
   font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
   font-size: 10;
   font-style:normal;
   font-weight:normal;
   color: #000000;
   padding: 2px 1px ( left, right );
   vertical-align: top;
   margin-top: 0px;
   margin-bottom: 0px ;
   text-align: left;
   border-style: none;
   border-top-width: 0px;
   border-right-width: 0px;
   border-bottom-width: 0px;
   border-left-width: 0px;
   background: #DCDCCB no-repeat top left;

 

}                                  
.divBorderBottom
{
	background: #BDBEBF no-repeat top left;
	border-color : #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
	border-style : solid;
	border-top-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 1px;
	border-left-width : 0px
}                             
.divBorderTop
{
	background: #BDBEBF no-repeat top left;
	border-color : #FFFFFF #FFFFFF #FFFFFF #FFFFFF;
	border-style : solid;
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 0px
}
.inside
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-decoration:none;
	font-weight: normal;
	border-right-width: 0px;
	border-right-style: none;	
}
.insidebold
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-decoration:none;
	font-weight: bold;
	border-right-width: 0px;
	border-right-style: none;	
}
.insidetitle
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	text-decoration:none;
	font-weight: normal;
	border-right-width: 0px;
	border-right-style: none;	
}

.dbtopborder
{
border-bottom-color :#000000;
border-style : solid;
border-bottom-width : 1px;
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
padding-left:0	
}
.dbtopbordertd
{
white-space:nowrap;font-size: 11px; padding: 2px 5px 2px 5px;color: #000000; background: #ececec;
border-top-color :#000000;
border-style : solid;
border-top-width : 1px;
border-left-width:0px;
border-right-width:0px;
border-bottom-width:0px;
padding-left:0	
}

.dbtopborder1
{
border-top-color: #D9DFEF;
border-style : solid;
border-bottom-width : 0px;
border-left-width:0px;
border-right-width:0px;
border-top-width:1px;
padding-left:0;
padding-bottom: 2px;
padding-top: 8px;
}

.dbbottomborder1
{
border-bottom-color: #D9DFEF;
border-style : solid;
border-top-width : 0px;
border-left-width:0px;
border-right-width:0px;
border-bottom-width:1px;
padding-left:0;
padding-top: 2px;
padding-bottom: 8px;
}

.dbbottomborder2
{
border-bottom-color: #D9DFEF;
border-style : solid;
border-top-width : 1px;
border-left-width:1px;
border-right-width:1px;
border-bottom-width:1px;
padding-top: 2px;
}

.dbtopborderblue
{
border-bottom-color : #D9DFEF;
border-style : solid;
border-bottom-width : 1px;
border-left-width:0px;
border-right-width:0px;
border-top-width:0px;
padding-left:0	
}
