body{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Tahoma, Verdana;
}

/*--------------Table styles--------------*/
/*--Heads Classes--*/
.colCaptions{
	font-size: 11px;
	padding: 4px 0px 4px 0px;
	text-align: center;
	color: #000000;
	background: #d7e1eb;
}

.formCaption{
	font-size: 11px;
	font-weight: bold;
	padding: 2px 0px 1px 8px;
	height: 22px;
	color: #333333;
	background: #ececec;
}

table th{
	font-weight: normal;
	font-size: 11px;
	padding: 3px 0px 3px 5px;
	text-align: left;
	color: #545556;
	background: #ececec;
}
/*--End--*/
/*--Alternate Rows For Tables--*/
.rowDark{
	white-space:nowrap;
	font-size: 11px;
	padding: 0px 5px 0px 5px;
	color: #000000;
	background: #ececec;
}

.rowLight{
	white-space:nowrap;
	font-size: 11px;
	padding: 0px 5px 0px 5px;
	color: #000000;
	background: #f9f9f9;
}
/*--End--*/
/*--Alternate Rows For Forms--*/
.colDark{
	white-space:nowrap;
	height: 18px;
	width: 150px;
	font-size: 11px;
	padding: 0px 5px 0px 18px;
	color: #333333;
	background: #ececec;
	
}
.colDarkSmall{
	white-space:nowrap;
	height: 18px;
	width: 100px;
	font-size: 11px;
	padding: 0px 5px 0px 18px;
	color: #333333;
	background: #ececec;
	
}
.colDarkNoWidth{
	white-space:nowrap;
	height: 18px;
	font-size: 11px;
	padding: 0px 5px 0px 18px;
	color: #333333;
	background: #ececec;
}
.colDarkNoHeight{
	height: 10px;
	white-space:nowrap;
	font-size: 11px;
	padding: 0px 0px 0px 8px;
	color: #333333;
	background: #ececec;
}

.colLightWidth{
	height: 18px;
	white-space:nowrap;
	font-size: 11px;
	padding: 0px 5px 0px 10px;
	color: #333333;
	background: #f9f9f9;
	width: 400px;
	font-weight: bold;	
}
.colLight{
	height: 18px;
	white-space:nowrap;
	font-size: 11px;
	padding: 0px 5px 0px 10px;
	color: #333333;
	background: #f9f9f9;
}
.colLightRap{
	height: 18px;
	font-size: 11px;
	padding: 0px 5px 0px 10px;
	color: #333333;
	background: #f9f9f9;
}
.colDarkRap{
	height: 18px;
	font-size: 11px;
	padding: 0px 5px 0px 18px;
	color: #333333;
	background: #ececec;
}
/*--End--*/
/*--Inputs style goes here--*/
input.checkBox{
	margin: 0px;
	padding: 0px;
}

input.button_c
{
	font-size: 11px;
	font-family: Verdana, Arial;
	color: #00355E;
	margin: 8px 0px 8px 0px;
}
input.button_c1
{
	font-size: 11px;
	font-family: Verdana, Arial;
	color: #00355E;
	margin: 0px 0px 0px 0px;
}
input.button_c2
{
	font-size: 11px;
	color: #00355E;
	margin: 0px 0px 0px 0px;
}
input.addButton_c
{
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Arial;
	color: #00355E;
	margin: 0px 0px 0px 0px;
	padding: 0px 1px 0px 1px;
}

input.addButton
{
	font-size: 10px;
	font-weight: normal;
	font-family: Verdana, Arial;
	background: #F6FCFC url(../images/add.gif) right no-repeat;
	background-position: 5px 2px;
	color: #00355E;
	margin: 1px 0px 1px 0px;
	padding: 0px 3px 0px 12px;
	border: 1px solid #D2D2D2;
}

input.text
{
	border: 1px solid #b9cada;
	font-size: 11px;
	color: #000000;
}
input.radio
{	
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.textarea
{
	border: 1px solid #b9cada;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	color: #7D7D7D;

}
.textareaWithNoScrol
{
	overflow:auto;
	border: 1px solid #b9cada;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	color: #7D7D7D;

}
.textarea1
{
	border: 1px solid #b9cada;
	font-size: 10px;
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	color: #7D7D7D;

}
.select
{
	font-size: 11px;
	border: 1px solid #b9cada;
}

.radioText{
	font-size: 11px;
	color: #000000;
}
/*--End--*/
/*--Common Classes For Tables--*/
#grandtotal{
	white-space: normal;
	font-size: 11px;
	padding: 0px 5px 0px 10px;
	color: #333333;
}

.tabNormalText{
	font-size: 11px;
	padding: 1px 5px 1px 5px;
	color: #000000;
}

.legend{
	color: #8e8e8e;
	font-size: 11px;
}

#tableLinks a{
	font-size: 11px;
	color: #1479a2;
	text-decoration: none;
}

#tableLinks a:hover{
	color: #234958;
	text-decoration: none;
}
/*--End--*/
/*-- Status Classes Id--*/
.status{
	font-size: 11px;
	padding: 0px 5px 0px 5px;
	color: #000000;
}

#inworkStatus{
	background: #FFFCEC;
}

#completeStatus{
	background: #E1EDF5;
}

#reconcieldStatus{
	background: #E5F8DE;
}

#inworkTbsStatus{
	background: #FFF1F0;
}

#inworkOverdueStatus{
	background: #FFCCC9;
}

#inworkOverdueStatus{
	background: #FFCCC9;
}
/*--End--*/
/*--------------End--------------*/
/*--------------BreadCrumb--------------*/
#breadCrumb{
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif;
	color: #a1a1a1;
	padding: 0px 0px 0px 4px;
}
.breadCrumb1{
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #0A3488 ;
	padding: 0px 0px 0px 4px;
}

#breadCrumb a{
	margin: 0px 0px 0px 4px;
	padding: 0px 0px 0px 8px;
	display: inline;
	background: url(../images/historyBullets.gif) left no-repeat;
	background-position: .10em;
	color: #B99C2C;
	text-decoration: none;
}

#breadCrumb a:hover{
	margin: 0px 0px 0px 4px;
	padding: 0px 0px 0px 8px;
	text-decoration: none;
	color: #7A681D;
}

#breadCrumb .currentSelected{
	margin: 0px 0px 0px 4px;
	padding: 0px 0px 0px 8px;
	background: url(../images/historyBullets.gif) left no-repeat;
	background-position: .10em;
	color: #808080;
}

#breadCrumb .bgNone{
	background: none;
}
/*--------------End--------------*/
/*--------------Filters Used For Status--------------*/
.filters{
	font-size: 10px;
	font-weight: bold;
	display: block;
}

.filtersCaption{
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	padding: 2px 0px 3px 7px;
	color: #000000;
}

#featured{
	font-size: 10px;
}

#featured a{
	color: #333333;
	text-decoration: none;
}

#featured a:hover{
	color: #63869C;
	text-decoration: none;
}

#featured{
	position: relative;
}

.remSpace{
	margin: -1px 0 -1px 0
}
.myView{
		font-size: 10px;
		color: #333333;
		text-decoration: none;
}
.secSeperator{
	height: 2px;
	background: #ececec;
}
.colDarkN{
	white-space:nowrap;
	height: 18px;
	width: 170px;
	font-size: 11px;
	padding: 0px 5px 0px 18px;
	color: #333333;
	background: #ececec;
	
}
#Layer2 {position:absolute; left:631px; top:-3px; visibility:visible; width:43px; height:56px;}
#Layer3 {position:absolute; left:669px; top:0px; visibility:visible; width:65px; height:67px;}
#filter {position:absolute; left:0px; top:61px; visibility:hidden; width:65px; height:67px;}
#filterAppendix {position:absolute; left:619px; top:61px; visibility:hidden; width:65px; height:67px;}
#off_pic{position:absolute; left:610px; top:226px; visibility:hidden; width:65px; height:67px;}
/*--------------End--------------*/

.chkbx {
	margin:0;
	width:12px;
	height:12px;
	overflow:hidden;
}
.chkbx1 {
	vertical-align:middle;
	margin:0;
	width:12px;
	height:12px;
	overflow:hidden;
}
.labelolight {white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2; padding-right:0; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #d7e1eb; text-align: left; border-color: #000000 #000000 #000000 #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.textoboldwithoutcolor { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:12px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.textonormalwithoutcolor { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:12px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}


.labelowhitebackground {
	white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; font-weight:normal; color:#000000; vertical-align: middle;
	border-collapse: collapse;padding: 2px;
	background-color: #FFFFF; text-align: center;
	border-color: #000000 ; border-style: solid; border-width: 1px;
}
.labelowhitebackgroundblueborder {
	white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; font-weight:normal; color:#000000; vertical-align: middle;
	border-collapse: collapse;padding: 2px;
	background-color: #FFFFF; text-align: center;
	border-color: #cddff9 ; border-style: solid; border-width: 1px;
}

.labelowhitebgblueborder {
	white-space:nowrap; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; 
	font-weight:normal; 
	color:#000000; 
	vertical-align: middle;
	border-collapse: collapse;
	padding: 2px;
 	text-align: center;
	border-color: #cddff9 ; 
	border-style: solid; 
	border-width: 1px;
	background-color: #FFFFF; 
}
.labelodarkbgblueborder {
	white-space:nowrap; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; 
	font-weight:normal; 
	color:#000000; 
	vertical-align: middle;
	border-collapse: collapse;
	padding-left: 10px;
	padding-right: 10px;
 	text-align: center;
	border-color: #cddff9 ; 
	border-style: solid; 
	border-width: 1px;
	background-color: #c4c7c8; 
}
.labelolightbgblueborder {
	white-space:nowrap; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; 
	font-weight:normal; 
	color:#000000; 
	vertical-align: middle;
	border-collapse: collapse;
	padding-left: 4px;
	padding-right: 4px;
 	text-align: center;
	border-color: #cddff9 ; 
	border-style: solid; 
	border-width: 1px;
	background-color: #d3d5d6; 
}

.labelorightwhitebgblueborder {
	white-space:nowrap; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; 
	font-weight:normal; 
	color:#000000; 
	vertical-align: middle;
	border-collapse: collapse;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #FFFFF; 
	text-align: right;
	border-style: solid; 
	border-color: #cddff9 ; 
	border-width: 1px;
}
.labelorightdarkbgblueborder {
	white-space:nowrap; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; 
	font-weight:normal; 
	color:#000000; 
	vertical-align: middle;
	border-collapse: collapse;
	padding-left: 4px;
	padding-right: 4px;
	background: #d3d5d6; 
	text-align: right;
	border-color: #cddff9 ; 
	border-style: solid; 
	border-width: 1px;
}
.labelodarkbgnoborder {
	white-space:nowrap; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; 
	font-weight:normal; 
	color:#000000; 
	vertical-align: middle;
	border-collapse: separate;
	padding-left: 10px;
	padding-right: 10px;
 	text-align: center;
	border-style: solid; 
	border-width: 0px;
}

.labelorightwhitebackgrounddblueborder {
	white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; font-weight:normal; color:#000000; vertical-align: middle;
	border-collapse: collapse;padding: 2px;
	background-color: #FFFFF; text-align: right;
	border-color: #cddff9 ; border-style: solid; border-width: 1px;
}

.labelorightdarkbackgroundblueborder {
	white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; font-weight:normal; color:#000000; vertical-align: middle;
	border-collapse: collapse;padding: 2px;
	background: #ececec; text-align: right;
	border-color: blue ; border-style: solid; border-width: 1px;
}

.labeloleftwhitebackgrounddblueborder {
	white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; font-weight:normal; color:#000000; vertical-align: middle;
	border-collapse: collapse;padding: 2px;
	background-color: #FFFFF; text-align: left;
	border-color: #cddff9 ; border-style: solid; border-width: 1px;
}

.labeloleftdarkbackgroundblueborder {
	white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; font-weight:normal; color:#000000; vertical-align: middle;
	border-collapse: collapse;padding: 2px;
	background: #ececec; text-align: left;
	border-color: blue ; border-style: solid; border-width: 1px;
}

.labelowhitebackgroundleftalignblueborder {
	white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; font-weight:normal; color:#000000; vertical-align: middle;
	border-collapse: collapse;padding: 2px;
	background-color: #FFFFF; text-align: left;
	border-color: #cddff9 ; border-style: solid; border-width: 1px;
}

.labelowhitebackgroundleftalign {
	white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; font-weight:normal; color:#000000; vertical-align: middle;
	border-collapse: collapse;padding: 2px;
	background-color: #FFFFF; text-align: left;
	border-color: #000000 ; border-style: solid; border-width: 1px;
}

.labelorightwhitebackground {
	white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; font-weight:normal; color:#000000; vertical-align: middle;
	border-collapse: collapse;padding: 2px;
	background-color: #FFFFF; text-align: right;
	border-color: #000000 ; border-style: solid; border-width: 1px;
}
.labelorightdarkbackground {
	white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px; font-weight:normal; color:#000000; vertical-align: middle;
	border-collapse: collapse;padding: 2px;
	background: #ececec; text-align: right;
	border-color: #000000 ; border-style: solid; border-width: 1px;
}

.Simpletext{white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:4; padding-right:4;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px;  text-align: left; }
/*--------------End--------------*/

.paddingLeft {
	padding-left: 4px;
}

.hiddenCheckBox{ 
	visibility:hidden;
}
.colDarkNoWidthSpaces{
	white-space:nowrap;
	height: 18px;
	font-size: 11px;
	padding: 0px 4px 0px 4px;
	color: #333333;
	background: #ececec;
}  
	  