div.tableWrapper {
margin-top:0px;
margin-bottom:20px;
margin-right:10px;
margin-left:0px;
border:2px solid #e7edf6;
outline:2px solid #faf8cc;
background: #E0E0DC;
display: inline-block;
}
a{
color:blue;
}
div.selectorDiv{
height:10px;width:10px;border:1px solid black; margin-left:10px;
}
#leftDiv{
float:left;
display: inline;
}
#rightDiv{
/* position:relative; */
float:left;
/* display: inline; */
margin-top:100px;
margin-left: 20px;
/* position: absolute; */
}
#toggleDiV{
	position: absolute;
	margin-left:250px;
}
.filterDiv{
width:250px; border-right: 1px solid black; background-color: #f4f9fd;
overflow:scroll;
}
.rightDetailDiv{
/* 	margin-left:260px; */
}

div.tableWrapper table{
table-layout: fixed;
}

div.tableWrapper table tr td{
	white-space: wrap;
	word-break:break-all;
	word-wrap: break-word;
	
}
div.tableWrapper table tr:nth-child(2n+1){
	background-color: #ffffff;
}
div.tableWrapper table tr:nth-child(2n+2){
	background-color: #e8eef7;
}

div.tableWrapper table tr:nth-child(n+1) td{
border-bottom: 1px solid transparent;
font-size: 11px;
font-weight: normal;
font-family:Verdana, Arial, Helvetica, sans-serif;
vertical-align: top;
text-align: left;
padding-left:4px;
padding-top: 2px;
padding-right: 4px;
padding-bottom:2px;

}
div.titleDiv{
height:20px;background-color: #b5c8d9;padding-left:10px;
}
div.filterOption{
width:70px;
}
img{
cursor:pointer;
}
div.contentWrapper{
overflow:auto;
/* position:relative; */
width:100%;
padding-left:10px;
}

.containerTitle {
	background: #E0E0DC;
	color: #000;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	font-size: 12px;
}
.summaryBar{ 
background-color: #faf8cc;
font-weight:bold;
height:80px;
margin-top:5px;
padding:10px;
}
.container{
	background:white;
}
.dataTables_filter{
	display: none;
}

.navTitle{
	color: #20477d; font-size: 11px; font-weight: bold; vertical-align: top;
}
.spanCheck{
	overflow: hidden;
	text-overflow: ellipsis;
}
div#toolTip{
			display:none; 
	      	position:absolute; 
			outline:2px solid #faf8cc;
	      	background-color:#E0E0DC; 
	      	padding: 6px;
	      	/* white-space:nowrap; */
	      	z-index:50000;
	      	font-family:Verdana, Arial, Helvetica, sans-serif;
	      	font-size: 11px;
	      	line-height:150%;
	      	/* add work break property to screen*/
	      	word-break: keep-all;
	      	
	      	
}
.dataTables_empty:hover{
	background-image:url('../images/transparent.gif')!important;
}
#ajaxdiv{
	display:inline-block;
	z-index: 10001;
}
tr.cube-indicator-medium td{
background-color:yellow;
}
tr.cube-indicator-high td{
background-color:red;
}
tr.internationalFilter td{
	background-color:#5079c9;
}
.rightAlign{
width:30px;
text-align:right;
}
.summaryBarSection{
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	color:#646ba9;
	font-size:11px;
}
 .customerAppendixDiv ul {
	list-style-type: none;
	padding-left: 8px;
	padding-top: 4px;
	
}

.customerAppendixDiv li {
	text-decoration: none;
	padding-top: 4px;
}
.jqMenuHeader1{
	color:#20477d;font-size:11px; font-weight: bold; vertical-align: top;
	white-space: nowrap;
}
.jqMenuHeader2{
	font-size:11px; font-weight: bold; vertical-align: top;
	white-space: nowrap;
}
.customerAppendixDiv{
	padding-top:0px;
}
.appendixselector{
	padding-top:2px;
	padding-bottom:3px;
	padding-left:6px;
}
.teamBackGround{
	color:#1a8439;
	padding-bottom: 1px;
	padding-top: 1px;
	vertical-align: top;
}
 .appendixJoDiv ul {
	list-style-type: none;
	padding-left: 15px;
	padding-top: 4px;
	
}

.appendixJoDiv li {
	text-decoration: none;
	padding-top: 4px;
	padding-left: 10px;
}
.appendixJoDiv{
	padding-top:0px;
}
.joSelector{
	padding-top:2px;
	padding-bottom:3px;
	padding-left:10px;
}
.partialCheck{
}
.secondLevelHeader{
padding-top:9px;	
}

.emptySlot{
	background-color: white;
	color:gray;  
	border: 1px dotted grey;
}

.wipTicketsInActive{
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	text-align: center;
	padding-top: 10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	cursor: pointer;
	
	
}
.wipTicketsActive{
	border: 0px solid grey;
	outline: 0px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	text-align: center;
	padding-top: 10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	font-size: 11px;
	border: 0px;
	background-color: #bfbfbf !important;
	
}

.wipTicketsActiveChanged{
	border: 1px solid grey;
	outline: 1px solid black;
}
.ticketUpdated{
	border: 1px solid grey;
	
}
.wipTicketsActivePriority1{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #fa919f;
	height: 30px;
	text-align: center;
	padding-top: 10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	font-size: 11px;
	
}
.wipTicketsActivePriority2{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #fdbbab;
	height: 30px;
	text-align: center;
	padding-top: 10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	font-size: 11px;
	
}
.wipTicketsActivePriority3{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #f0f78f;
	height: 30px;
	text-align: center;
	padding-top: 10px;
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	font-size: 11px;
	
	
}

.headerPriority1 {
	white-space:nowrap;  
	font-size: 11px; 
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-weight:bold;
	color: #000000; 
	background: #fa919f;
		
	}
	.headerPriority2{
	white-space:nowrap;  
	font-size: 11px; 
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-weight:bold;
	color: #000000; 
	background: #fdbbab;
		
	}
	.headerPriority3{
	white-space:nowrap;  
	font-size: 11px; 
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-weight:bold;
	color: #000000; 
	background: #f0f78f;
		
	}
	
	/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }
.helperDiv{
	width: 80px;
	height: 20px;
/* 	border: 1px solid red; */
	border:1px solid #b5c8d9;
    background-color:#e8eef7; 
    padding: 2px;
    z-index:1;
/* 	color: white; */
	padding: 5px;
	position:relative;
	white-space:nowrap;  
	font-size: 11px; 
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	
	
}
.textCenter{
	text-align: center!important;
}
a{
	text-decoration: underline;
}
.greenIcon{
	background-image: url('../images/greenLock.jpg')!important;
background-repeat: no-repeat;
background-position:center;
background-size:100%100%;
cursor: pointer;
margin-left: 5px;
padding-left: 1px;
}

.redIcon{
	background-image: url('../images/redLock.jpg')!important;
background-repeat: no-repeat;
background-position:center;
background-size:100%100%;
cursor: pointer;
margin-left: 5px;
padding-left: 2px;

}
/* .siteNumberText{
 text-overflow: ellipsis !important;
    width: 122px;
    white-space: nowrap; 
    overflow:hidden;
    display: inline-block;"
    }
 th.siteNumberText{
    width: 110px!important;
    }
   
.siteNumberTextPendingCubes{
 text-overflow: ellipsis !important;
    width: 108px;
    white-space: nowrap; 
    overflow:hidden;
    display: inline-block;"
    }
 th.siteNumberTextPendingCubes{
    width: 96px!important;
    } */
     
 /*    .shortDescriptionText{
 text-overflow: ellipsis !important;
    width: 130px;
    white-space: nowrap; 
    overflow:hidden;
    display: inline-block;"
    }
th.shortDescriptionText{
    width: 120px;
    } */
    .MSSUC0002
{
font-weight: bold; 
font-size:12px;
white-space: nowrap;
font-family: Verdana, Arial, Helvetica, sans-serif; 
color:  #abd0bc;
	}
.MSERR0002
{
font-weight: bold;
 font-size:12px;
 font-family:Verdana, Arial, Helvetica, sans-serif; 
 color: #f86779;
 white-space: nowrap;
}
ul.niceList {
  margin-top:0.5em; 
  margin-left:0em; 
  padding-left:0.2em; 
  margin-bottom:0.5em; 
}
ul.niceList li { 
  background:url(../images/bullet_child.gif) 0em 0.5em no-repeat; /* change background em accordingly */
  padding-left: 0.8em; 
  list-style: none; 
}
.niceList ul li { background-image:url(../images/bullet_child.gif); }
 
ol.niceList li, ul.niceList li { margin-bottom:0.5em; }
 
ol.niceList { 
  margin-left:1.5em; 
  padding-left:0px; 
}
.niceList ol li { 
  list-style:decimal; 
  background-image:none; 
  padding-left:0em; 
}

.txtOverflowEllipsis{
	text-overflow: ellipsis !important;
    width: 85px !important;
    overflow:hidden !important;
    display: inline-block;
    white-space: nowrap;
    word-wrap:break-word;
}
th.txtOverflowEllipsis{
    width: 77px !important;
}

/* .txtwipCustomerOverflowEllipsis{ */
/* 	text-overflow: ellipsis ; */
/*     width: 60px !important; */
/*     overflow:hidden !important; */
/*     display: inline-block; */
/*     white-space: nowrap; */
/* } */
/* th.txtwipCustomerOverflowEllipsis{ */
/*     width: 60px !important; */
/* } */


.aUnderline{
	text-decoration: underline !important;
	margin-bottom: 5px;
		
}

.aUnderlinehide{
	text-decoration: underline !important ;
	margin-bottom: 5px;
	color:gray;

}

.redRoundIcon{
	background-image: url('../images/redactive.jpg')!important;
background-repeat: no-repeat;
background-position:center;
background-size:100%100%;

}
.greenRoundIcon{
	background-image: url('../images/greenactive.jpg')!important;
background-repeat: no-repeat;
background-position:center;
background-size:100%100%;

}
.disableText{
	color:gray;
	text-decoration:none;
}

table#stateTailTable tr:not(.headerRow):nth-child(2n+1){
	background-color: #ffffff;
}
table#stateTailTable tr:not(.headerRow):nth-child(2n+2){
	background-color: #e8eef7;
}
.primaryStateIcon{
cursor: pointer;
}