div.tableWrapper .mainTable tr:nth-child(n+1) td:nth-child(3){
    cursor: pointer;
    color: blue;
}

div.tableWrapper #hdResolvedTable tr:nth-child(n+1) td:nth-child(3){
    cursor: pointer;
    color: blue;
}

div.tableWrapper table tr:nth-child(n+1) td:nth-child(4) {
    white-space: nowrap;
}

div.tableWrapper table tr:nth-child(n+1) td:nth-child(5) {
    white-space: nowrap;
}

div.tableWrapper table tr:nth-child(n+1) td:nth-child(7) {
    white-space: nowrap;
}

div.tableWrapper table tr:nth-child(n+1) td:nth-child(2){
    white-space: nowrap;
}

div.tableWrapper table tr:nth-child(n+1) td:nth-child(10){
    white-space: nowrap;
}

div.tableWrapper table tr:nth-child(n+1) td:nth-child(8){
    white-space: nowrap;
}

div.tableWrapper table tr:nth-child(n+1) td:nth-child(9){
    white-space: nowrap;
}

div.tableWrapper table tr:nth-child(n+1) td:nth-child(6){
    word-break: break-word;
}

div.tableWrapper table tr:nth-child(n+1) td:nth-child(9){
    word-break: break-word;
}