/*
        author: istockphp.com
*/
#backgroundPopup {
    z-index:1;
    position: fixed;
    display:none;
    height:100%;
    width:100%;
    background:#000000;
    top:0px;
    left:0px;
}
#toPopup {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #D7C960;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
    font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    top: 20%;
    width: 500px;
    z-index: 2;
}
div.loader {
    background: url("/Ilex-WS/resources/images/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}
div.close {
    background: url("/Ilex-WS/resources/images/closebox.png") no-repeat scroll 0 0 transparent;
    bottom: 24px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 27px;
    position: relative;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
}
.meter {
    height: 20px;  /* Can be anything */
    width: 400px;
    position: relative;
    background: #555;
    padding: 1px;
    -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    margin-bottom: 1em;
}

.meter > span {
    display: block;
    height: 100%;
    background-color: rgb(79,129,189);
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(79,129,189)),
        color-stop(1, rgb(116,156,203))
        );
    background-image: -webkit-linear-gradient(
        center bottom,
        rgb(79,129,189) 37%,
        rgb(116,156,203) 69%
        );
    background-image: -moz-linear-gradient(
        center bottom,
        rgb(79,129,189) 37%,
        rgb(116,156,203) 69%
        );
    background-image: -ms-linear-gradient(
        center bottom,
        rgb(79,129,189) 37%,
        rgb(116,156,203) 69%
        );
    background-image: -o-linear-gradient(
        center bottom,
        rgb(79,129,189) 37%,
        rgb(116,156,203) 69%
        );
    -webkit-box-shadow:
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow:
        inset 0 2px 9px  rgba(255,255,255,0.3),
        inset 0 -2px 6px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
}

.red > span {
    background-color: #f0a3a3;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
    background-image: -webkit-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -ms-linear-gradient(top, #f0a3a3, #f42323);
    background-image: -o-linear-gradient(top, #f0a3a3, #f42323);
}

.black_overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}

.white_content {
    position: relative;
    top: 30%;
    width: 400px;
    padding: 10px 16px;
    margin: 0px auto;
    border: 1px solid rgb(79,129,189);
    background-color: white;
    z-index:1002;
    overflow: auto;
    text-align: center;
}

.white_content p {
    margin: 5px 0px 1em;
}

#confirmButton {
    display: none;
    margin-bottom: 5px;
    padding: 2px 5px;
}
#popup_progress {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
}