body{
	font-family: Verdana, Arial, Helvetica, sans-serif !important;
}
div.tableWrapper {
	margin-top: 0px;
	margin-bottom: 20px;
	margin-right: 10px;
	margin-left: 0px;
	border: 2px solid #e7edf6;
	outline: 2px solid #faf8cc;
	background: #E0E0DC;
	display: inline-block;
/* 	height: 300px; */
/* 	overflow: auto; */
/* 	max-height: 200px; */
	height: auto;
}

div.dataTables_wrapper {
	
	height:auto;
	max-height: 200px;
	overflow-y:auto;
	overflow-x: hidden;
	padding-bottom: 25px;
}

div.tableWrapper table {
	table-layout: fixed;
}

div.tableWrapper table tr td {
	white-space: wrap;
	word-break: break-all;
	word-wrap: break-word;
	font-size:11px;
}

div.tableWrapper table tr:nth-child(2n+1) {
	background-color: #ffffff;
}

div.tableWrapper table tr:nth-child(2n+2) {
	background-color: #e8eef7;
}

div.tableWrapper table tr:nth-child(n+1) td {
	border-bottom: 1px solid transparent;
	font-size: 11px;
	font-weight: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	vertical-align: top;
	text-align: left;
	padding-left: 4px;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
}

div.tableWrapper table tr:nth-child(n+1) td:last-child:hover {
	background-image: url('../images/highlight.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40% 60%;
	margin-right: 4px;
}

div.tableWrapper table tr:nth-child(n+1):hover td {
	border-bottom: 1px solid #d7c960;
}

.containerTitle {
	background: #E0E0DC;
	color: #000;
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.container {
	background: white;
}