.RbreadCrumb{	font-size: 11px; font-family: Arial;	color: #B99C2C;	padding: 0px 0px 0px 6px;}
#RbreadCrumb a{
	margin: 0px 0px 0px 4px;
	padding: 0px 0px 0px 8px;
	display: inline;
	background: url(../images/historyBullets.gif) left no-repeat;
	background-position: .10em;
	color: #B99C2C;
	text-decoration: none;
	font-size: 11px;
}

#RbreadCrumb a:hover{
	margin: 0px 0px 0px 4px;
	padding: 0px 0px 0px 8px;
	text-decoration: none;
	color: #7A681D;
	font-size: 11px;
}

#RbreadCrumb .currentSelected{
	margin: 0px 0px 0px 4px;
	padding: 0px 0px 0px 8px;
	background: url(../images/historyBullets.gif) left no-repeat;
	background-position: .10em;
	color: #808080;
	font-size: 11px;
}

.Rheaderrow{	background-color:#C9D9E8;text-align:center;}
.Rtryb{white-space:nowrap; font-family:Arial; padding-left:4; padding-right:4;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px; background-color: #d7e1eb; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080;}
.Rtexto { white-space:nowrap; font-family:Arial; font-size: 11px; padding: 2px 5px 2px 5px;color: #000000; background: #F8FAFD;}
.Rtexte {  white-space:nowrap; font-family:Arial; font-size: 11px;padding: 2px 5px 2px 5px;color: #000000;background: #EFEFEF;}
.RMenu_Head {filter:alpha(opacity=100,finishopacity=100,style=1);	background: #B5C8D9; padding : 0px 0px 0px 0px; font-weight: bold; cursor: pointer; font-family : Arial; font-size : 11px; line-height: 11px;}		
.RMenu_Items {filter:alpha(opacity=100);	background-color: #D0E1EB; padding : 5px 0px 5px 30px; width: 200;  font-family : Arial; font-size : 11px; line-height: 11px; border-left: 1px #B5C8D9 solid;border-right: 1px #B5C8D9 solid;border-bottom: 1px #B5C8D9 solid}
.RMenu_ItemsSecurity {filter:alpha(opacity=100);	background-color: #D0E1EB; padding : 5px 5px 5px 0px; width: 200;  font-family : Arial; font-size : 11px; line-height: 11px; border-left: 1px #B5C8D9 solid;border-right: 1px #B5C8D9 solid;border-bottom: 1px #B5C8D9 solid;}
.m2 {background: #B5C8D9;}
.Rlabeleboldwhite { font-family:Arial; padding-left:2;font-size:13px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.RbreadCrumbText{font-family:Arial;font-size: 12px;}
Body {margin:0; padding:0;}
input.Rbutton_c
{
	font-size: 11px;
	font-family: Arial;
	color: #00355E;
	margin: 8px 0px 8px 0px;
}
h2{
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #2e3d80;
	padding: 12px 0px 2px 11px;
	margin: 0px 0px 0px 0px;
}
input.Rtext
{
	border: 1px solid #b9cada;
	font-size: 11px;
	color: #000000;
}
.Rmessage{font-family:Arial; padding-left:0;padding-top: 20px; font-size:13px;font-weight:bold;color:blue;vertical-align: middle;margin-top: 11px;margin-bottom: 1px ;background-color: #FFFFFF;text-align: left;border-color: #E0E0DC #E6E6E3 #8E8E8C #808080;border-style: solid;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px; white-space: nowrap}

@charset "euc-jp";
/* CSS Document */

Body {margin:0; padding:0;}

.TopHd { font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#000000;
	height:15px;
	text-align:center;
}

.TabHd { font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;

text-align:center;
}

.TabHd1 { font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	background-color:#FFFFFF;
	height:27px;
	padding-left:5px;
}

.TabText { font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	background-color:#FFFFFF;
	height:27px;
	padding-left:27px;
}

.TabText1 { font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	height:27px;
	padding-left:5px;
	font-weight: bold;
	white-space: nowrap;
}

.TabData { font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	height:27px;
	text-align:center;
}

.TabData1 { font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#000000;
	background-color:#FFFFFF;
	height:27px;
	text-align:center;
}

.text 
{  font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 10px;
	font-weight: normal;
	line-height: 20px;
}

/*------------------------------for job summary page-----------------------*/
.select
{
	background-color:#E9ECDF; 
	border: 1px solid #666666; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	font-weight: normal; 
	color: #333333;
}
.textbold {
	white-space:nowrap;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #282828;
	font-size: 10px;
	font-weight: normal;
	line-height: 20px;
	padding-left: 4px;
	padding-right: 4px;
}
.texth{
	white-space:nowrap;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:4;
	padding-right:4;
	font-size:10px;
	font-weight:normal;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #E0E0DC;
	text-align: center;
	line-height: 20px;
	width: 33%;
}
.texthc{
	white-space:nowrap;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:4;
	padding-right:4;
	font-size:10px;
	font-weight:normal;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #E0E0DC;
	text-align: center;
	line-height: 20px;
	width: 10%;
}
.Rbutton {
	font-size: 11px;
	font-family: Verdana, Arial;
	color: #00355E;
}
.Rheading {
	font-size: 13px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 0px 0px 0px 8px;
	background-color:#E9ECDF;
}

.textbox
{
	border: 1px solid #b9cada;
	font-size: 11px;
	color: #000000;
}
	
.days {
font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 10px;
	font-weight: bold;
	line-height: 20px;
}
.dates {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	font-size: 10px;
	font-weight: normal;
	line-height: 20px;
	text-align: right;
	padding-right: 4px;
}
.year {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #333333;
	font-size: 14px;
	font-weight: bold;
}

.data {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	line-height: 20px;
	padding-left: 4px;
	padding-right: 4px;
}
.body {
background-color:#F5F3F3;
}



.textlink{
	font-family:"Arial", "Verdana";
	font-size:10px;
	color: #0066CC;
	padding-left: 5px;
}
.textlink:hover{
	font-family:"Arial", "Verdana";
	font-size:10px;
	color: #CC3300;
	padding-left: 5px;
}




.blacktext a:link {font-family:"Verdana","Arial";font-size:12;color:black;font-weight:bold;}
.blacktext a:visited {font-family:"Verdana","Arial";font-size:12;color:black;font-weight:bold;}
.blacktext {
	font-family:"Verdana","Arial";
	font-size:12;
	color:black;
	text-decoration:none;
	padding-left: 5px;
}

.formhead {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333333;
	text-decoration:none;
	font-weight: bold;
	border-right-width: 0px;
	border-right-style: none;
}
.formtext {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#333333;
	text-decoration:none;
	font-weight: normal;
	border-right-width: 0px;
	border-right-style: none;
}
.dropdwn { background-color: #CCCCCC; border: 1px #3678BA solid; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #333333; padding-top: 1px; padding-bottom: 1px ;    rect(   ); padding-left: 1px; background-position: 22px}.prenext {

	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#993300;
	text-decoration:none;
	font-weight: normal;
	border-right-width: 0px;
	border-right-style: none;
}

.chkbx {
	margin:0;
	width:12px;
	height:12px;
	overflow:hidden;
}
