.try 
{ font-family : Verdana, Arial, Helvetica, sans-serif; padding-left:4;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px ; background-color : #E0E0DC; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px}

.tryb 
{ font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:4;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.tryblr 
{ font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;padding-right:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.trybrecon 
{ font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:4;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #D9FDE4; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.trybleft 
{ font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.trybleftnormal 
{ font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}


.textonmouseover 
{ font-family : Verdana , Arial, Helvetica , sans-serif; padding-left:2;font-size : 11px; font-weight : normal ; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color : #F5F5DC; text-align : left; border-color : #ADBCD0; border : 1px; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px}
.textonmouseoverright 
{ font-family : Verdana , Arial, Helvetica , sans-serif; padding-left:2;paddfont-size:11px; font-weight : normal ; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color : #F5F5DC; text-align : right; border-color : #ADBCD0; border : 1px; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px}


.button 
{ font-family : verdana; padding-left:2;font-size : 10px; font-style : normal; font-weight : normal; color : #000000; letter-spacing : normal; word-spacing : normal; border : 1px #333333 solid; background : #D0D3D5; }
.buttonSearch 
{ width:118;verdana; font-family : verdana;padding-left:2; padding-right:2; font-size : 10px; font-style : normal; font-weight : normal;  text-align:center;  color : #000000; letter-spacing : normal; word-spacing : normal; border : 1px #333333 solid; background : #D0D3D5;}


.buttontop 
{ font-family : verdana; padding-left:2;font-size : 10px; font-style : normal; font-weight : normal; color : #000000; letter-spacing : normal; word-spacing : normal; border : 1px #333333 solid; background : #D0D3D5; vertical-align: top; }

.buttonverticalalign 
{ font-family : verdana; padding-left:2;font-size : 10px; font-style : normal; font-weight : normal; color : #000000; letter-spacing : normal; word-spacing : normal; border : 1px #333333 solid; background : #D0D3D5; vertical-align: middle;}

.buttonright 
{ font-family : verdana; padding-left:2;font-size : 10px; font-style : normal; font-weight : normal; color : #000000; letter-spacing : normal; word-spacing : normal; border : 1px #333333 solid; background : #D0D3D5; horizontal-align: right}

.buttonrightalign 
{ font-family : verdana; padding-left:2;font-size : 10px; font-style : normal; font-weight : normal; color : #000000; letter-spacing : normal; word-spacing : normal; border : 1px #333333 solid; background : #D0D3D5; text-align: left}
.drop
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:12px;
	font-weight:bold;
	font-size:11px;
	color:#000000;
	text-decoration: none;
	white-space:nowrap; 
}

.drop:hover      
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:12px;
	font-size:11px;
	color:#000000;
	text-decoration: none;
	background-color: #8FA8CA;
	display: block;
	white-space:nowrap; 
}

.drop:visited    
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:12px;
	font-size:11px;
	color:#000000;
	text-decoration: none;
	white-space:nowrap; 
}
.leftRightBorder {
	border-left-style:solid;
	border-left-color:white;
	border-left-width:1px;
	border-right-style:solid;
	border-right-color:white;
	border-right-width:1px;
	
}
.drop:visited:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif; 
line-height:12px; 
font-size:11px; 
color:#000000;
text-decoration: none; 
background-color: #8FA8CA;
display: block;
white-space:nowrap; 
}

.pagelink
{font-family:Verdana, Arial, Helvetica, sans-serif; line-height:12px; font-weight:bold; padding-left:2;font-size:11px; color:#000000;text-decoration: none}
 
 
 
 
 
 
.pagelink:hover      
{font-family:Verdana, Arial, Helvetica, sans-serif; line-height:12px; font-weight:bold; padding-left:2;font-size:11px; color:#4A7ABC;text-decoration: none}
 
.pagelink:visited    
{font-family:Verdana, Arial, Helvetica, sans-serif; line-height:12px; font-weight:bold; padding-left:2;font-size:11px; color:#000000;text-decoration: none}
 
.pagelink:visited:hover
{font-family:Verdana, Arial, Helvetica, sans-serif; line-height:12px; font-weight:bold; padding-left:2;font-size:11px; color:#4A7ABC;text-decoration: none}

.sort 
{ font-family : Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size : 10px; width : 180px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px ; background-color : #ECF5FF; text-align : left; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 0px; border-right-width : 0px; border-bottom-width : 0px; border-left-width : 0px }
.sortmax 
{ font-family : Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size : 10px; width : 240px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px ; background-color : #ECF5FF; text-align : left; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 0px; border-right-width : 0px; border-bottom-width : 0px; border-left-width : 0px }


.combooddhiddenrightalign { visibility : hidden ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-right:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color: #ECECEC; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }
.comboevenhiddenrightalign { visibility : hidden ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-right:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color: #ECF5FF; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }

.combooddhidden { visibility : hidden ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-left:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color: #ECECEC; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }
.comboevenhidden { visibility : hidden ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-left:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color: #ECF5FF; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }
.combooddvisible { visibility : visible ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-left:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color: #ECECEC; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }
.comboevenvisible { visibility : visible ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-left:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color: #ECF5FF; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }

.comboo { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.comboe { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.texto { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.textoleftalignnowrap { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.textorightalignnowrap { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.textonewelement { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.textenewelement { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.textoleft { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #EEF3F1; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.texte { white-space:nowrap; position : relative; font-family:Verdana , Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.texteleftalignnowrap { white-space:nowrap; position : relative; font-family:Verdana , Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.texterightalignnowrap { white-space:nowrap; position : relative; font-family:Verdana , Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.texteleft { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E1EAE7; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labele{  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelo {  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeloline {  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2; padding-right:2; font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; margin-left : 10px;  background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelered{  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#FF0000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelored {  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#FF0000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.labeletop {  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeletopnowrap { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.labeleright{  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelerightborder{  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:1;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #000000 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 0px}
.labelorightborder {  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:1;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #000000 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 0px}
.labeleboldrightborder {white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:1;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #000000 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 0px}
.labeleboldwithoutrightborder {white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:1;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #000000 #8E8E8C #000000; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 1px}
.labeloboldrightborder { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:1;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #000000 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 0px}
.labeloboldnorightborder { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:1;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #000000 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeloboldrightbottomborder { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:1;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #000000 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.labelblankrightborder {white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:1;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #ffffff #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 1px; border-bottom-width: 0px; border-left-width: 0px}
.labelotop {  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelotop {  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: justify; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelotopnowrap { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelowhite { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.labelgray { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:14px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelgrays { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.combogray { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.large { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:14px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.textw { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ffffff; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.message{font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:13px;font-weight:bold;color:blue;vertical-align: middle;margin-top: 11px;margin-bottom: 1px ;background-color: #FFFFFF;text-align: left;border-color: #E0E0DC #E6E6E3 #8E8E8C #808080;border-style: solid;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px; white-space: nowrap}
.ntext { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:12px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.link { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#0000ff; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; white-space: nowrap}
.toplink { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:12px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; white-space: nowrap}
.textui { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #EEF3F1; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.hyperodd { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.hyperoddcenter { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.smallGray { font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size:10;
	font-style:normal;
	font-weight:normal;
	color: #838384;
	vertical-align: middle;
	padding: 2px 1px ( left, right );
	white-space:nowrap}
.smallGrayLeftAlign { font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size:10;
	font-style:normal;
	font-weight:normal;
	color: #838384;
	vertical-align: middle;
	white-space:nowrap}	

.hypereven { white-space:nowrap; position : relative; font-family:Verdana , Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.hyperevencenter { white-space:nowrap; position : relative; font-family:Verdana , Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.readonlytext { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 2px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 1px}

.readonlytextodd { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.readonlytexteven { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.readonlytextoddclr { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.readonlytextevenclr { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.readonlytextnumberodd { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.readonlytextnumbereven { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.textbox { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ffffff; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.UpperCasetextbox { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ffffff; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; text-transform: uppercase;}

.readonlytextboxnumber { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ffffff; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.textboxnumber { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ffffff; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.hyperlink { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:blue; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E1EAE1; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.labelewhite { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeleboldwhite { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:13px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelebolddiff { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeleboldhierrarchy { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:11px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeleboldhierrarchyright { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:11px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelenoboldwhite { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:13px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.labeleboldbuttonrow { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:13px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelebold {white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelobold { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeleboldtop { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeloboldtop { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeloboldwhite { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labellebold { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:13px; font-weight:bold; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #E1EAE1; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labellobold { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:13px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelloboldmiddle { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:13px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; horizontal-align: middle; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelgraybold { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:14px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelleboldblue { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:13px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.labeloboldheader { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelloboldcenter { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.toprow { background-color: #FFFFFF; font-weight:bold}
.buttonrow { background-color: #E0E0DC}
.labeleboldexeclude {font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal;  border-style: solid; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC;border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px }
.blackline { background-color: #000000}
.leftmenumessage { background-color: #E4E4D9}
.button { font-family : verdana; padding-left:2;font-size : 10px; font-style : normal; font-weight : normal; color : #000000; letter-spacing : normal; word-spacing : normal; border : 1px #333333 solid; background : #D0D3D5; }


.toprow1 { background-color: #ABC7ED; font-weight:bold; text-align: left}

.tabtext { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ffffff; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.iframe	{ background-color: #ECECEC; border-left:none;border-top:none}
.textboxdummy{ font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:0;font-size:1px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ffffff; text-align: left; border-color: #ffffff #ffffff #ffffff #ffffff; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.scroll {scrollbar-face-color:C1C1C1; scrollbar-highlight-color:506788; scrollbar-arrow-color:000000; scrollbar-track-color:9FB3CF }
.red {	FONT-SIZE: 8px; COLOR: #ff0000; VERTICAL-ALIGN: top}

.textwhite {
	BORDER-RIGHT: #e6e6e3 0px solid; BORDER-TOP: #e0e0dc 0px solid; MARGIN-TOP: 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #808080 0px solid; COLOR: #000000; BORDER-BOTTOM: #8e8e8c 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; POSITION: inherit; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}

.textwhiteright {
	BORDER-RIGHT: #e6e6e3 0px solid; BORDER-TOP: #e0e0dc 0px solid; MARGIN-TOP: 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #808080 0px solid; COLOR: #000000; BORDER-BOTTOM: #8e8e8c 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; POSITION: relative; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}

.textwhiteleftitalic {
	BORDER-RIGHT: #e6e6e3 0px solid; BORDER-TOP: #e0e0dc 0px solid; MARGIN-TOP: 1px; PADDING-LEFT: 2px; FONT-STYLE: italic; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #808080 0px solid; COLOR: #000000; BORDER-BOTTOM: #8e8e8c 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: wrap; POSITION: relative; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.textwhitetop {
	BORDER-RIGHT: #e6e6e3 0px solid; BORDER-TOP: #e0e0dc 0px solid; MARGIN-TOP: 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: top; BORDER-LEFT: #808080 0px solid; COLOR: #000000; BORDER-BOTTOM: #8e8e8c 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; POSITION: inherit; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.combowhite {
	BORDER-RIGHT: #e6e6e3 1px solid; BORDER-TOP: #e0e0dc 1px solid; MARGIN-TOP: 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #808080 1px solid; COLOR: #000000; BORDER-BOTTOM: #8e8e8c 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}

.textwhitemiddle {
	BORDER-RIGHT: #e6e6e3 0px solid; BORDER-TOP: #e0e0dc 0px solid; MARGIN-TOP: 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #808080 0px solid; COLOR: #000000; BORDER-BOTTOM: #8e8e8c 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; POSITION: relative; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: middle
}



.milestonelink
{font-family:Verdana, Arial, Helvetica, sans-serif; line-height:12px; font-weight:bold; padding-left:2;font-size:11px; color:blue;;text-decoration: none}
 
.buttonunclick {
	white-space:nowrap;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:0;
	font-size:10px;
	font-weight:bold;
	color:#000000;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #E0E0DC;
	text-align: center;
	
	border-top-width : 2px;
	border-right-width : 2px;
	border-bottom-width : 2px;
	border-left-width : 2px;
	
	border-color : #8E8E8C #8E8E8C  #8E8E8C #808080;
	
	line-height: 20px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
}

.buttonclick {
	white-space:nowrap;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:0;
	font-size:10px;
	font-weight:bold;
	color:#000000;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px;
	background-color: #E0E0DC;
	text-align: center;
	line-height: 20px;
	
	border-top-width : 2px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 2px;
	
	border-color : #8E8E8C #8E8E8C #8E8E8C #808080;
	
	line-height: 20px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-left-style: solid;
}

.textcenterevendashpo
{ 	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:4;
	padding-right:4;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px ;
	background-color: #ECECEC;
	text-align: center;
	border-color: #FFFFFF;
	border-style: solid;
	white-space:nowrap;
	
}
.textcenterodddashpo
{ 
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:4;
	padding-right:4;
	font-size:11px; 
	font-weight:normal; 
	color:#000000; 
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	vertical-align: middle; 
	margin-top: 1px; 
	margin-bottom: 1px ; 
	background-color: #ECF5FF; 
	text-align: center; 
	border-color: #FFFFFF; 
	border-style: solid; 
	white-space:nowrap;
}
.labelowhiteright { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;padding-right:4;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeloredright { white-space:nowrap;font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:bold; color:#FFFFFF; vertical-align: middle; margin-top: 0px; margin-bottom: 1px ; background-color: #FF0000; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelowhiterightred { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;padding-right:4;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: right; border-color: #FF0000 #FF0000 #FF0000 #FF0000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.labelenowrap{ white-space:nowrap;font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labelonowrap{ white-space:nowrap;font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}


.texteleftalignnowraplr { white-space:nowrap; position : relative; font-family:Verdana , Arial, Helvetica, sans-serif;  padding-left:2; padding-right:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.textoleftalignnowraplr { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;padding-right:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.buttonrow1{ background-color: #ECF5FF}
/* For New GUI: END*/

.Nheaderrow{	background-color:#C9D9E8;text-align:left;}
.Ntryb{white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:4; padding-right:4;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px; background-color: #d7e1eb; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080;}
.Ntrybleftalign{white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:4; padding-right:4;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px; background-color: #d7e1eb; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080;}
.Nlabeleboldwhite { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:13px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Nlabellobold { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:13px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #d7e1eb; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Nlabellebold { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:13px; font-weight:bold; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ececec; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Nlabelobold { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background: #ececec;; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Nlabelo {  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background: #ececec;; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Nlabelebold {white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #f9f9f9; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Nlabele{  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #f9f9f9; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Nlabeleboldtop { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #f9f9f9; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Nlabeletop {  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #f9f9f9; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Nlabelotop {  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ececec; text-align: justify; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Nlabeletopnowrap { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #f9f9f9; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Nlabelotopnowrap { white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ececec; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Nlabeleboldhierrarchy { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:11px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Ncomboo { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}

.Ncombooddhidden { visibility : hidden ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-left:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color: #ececec; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }
.Ncomboevenhidden { visibility : hidden ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-left:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color: #f9f9f9; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }
.Ncombooddvisible { visibility : visible ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-left:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color: #ececec; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }
.Ncomboevenvisible { visibility : visible ; position : absolute; top : 22px; left : 20px; font-family : Verdana, Arial , Helvetica , sans-serif; padding-left:2;font-size : 10px; font-weight : normal; color : #000000; vertical-align : middle; margin-top : 1px; margin-bottom : 1px; background-color:#f9f9f9; text-align : center; border-color : #E0E0DC #E6E6E3 #8E8E8C #808080; border-style : solid; border-top-width : 1px; border-right-width : 1px; border-bottom-width : 1px; border-left-width : 1px }

.Ncomboe { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #f9f9f9; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.Ntextbox { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ffffff; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.Nlabeloboldtop { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: top; margin-top: 1px; margin-bottom: 1px ; background-color: #ECECEC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Ntextwhite {BORDER-RIGHT: #e6e6e3 0px solid; BORDER-TOP: #e0e0dc 0px solid; MARGIN-TOP: 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 10px; MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #808080 0px solid; COLOR: #000000; BORDER-BOTTOM: #8e8e8c 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; POSITION: relative; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left}

.Ntexto { white-space:nowrap; font-size: 11px; padding: 2px 5px 2px 5px;color: #000000; background: #ececec;}
.Ntextowithwrap { font-size: 11px; padding: 2px 5px 2px 5px;color: #000000; background: #ececec;}


.Ntextpred { font-family:Verdana, Arial, Helvetica, sans-serif;white-space:nowrap; font-size:10px; font-weight:normal; padding: 2px 5px 2px 5px;color: #000000; background: #FFEAEA ;}
.Ntextpgreen { font-family:Verdana, Arial, Helvetica, sans-serif; white-space:nowrap; font-size:10px; font-weight:normal; padding: 2px 5px 2px 5px;color: #000000; background: #EDF8E7;}
.Ntextpyellow { font-family:Verdana, Arial, Helvetica, sans-serif; white-space:nowrap; font-size:10px; font-weight:normal; padding: 2px 5px 2px 5px;color: #000000; background: #FFFCDF;}
.Ntextporange { font-family:Verdana, Arial, Helvetica, sans-serif; white-space:nowrap; font-size:10px; font-weight:normal; padding: 2px 5px 2px 5px;color: #000000; background: #FFE7D7;}

.Ntextoleftalignnowrap {white-space:nowrap;  font-size: 11px; padding: 2px 5px 2px 5px;color: #000000; background: #ececec;}
.Ntextoleftalignnowrapblue {white-space:nowrap;  font-size: 11px; padding: 2px 5px 2px 5px;color: #000000; background: #e8eef7;}
.Ntextoleftalignnowrappaleyellow {white-space:nowrap;  font-size: 11px; padding: 2px 5px 2px 5px;color: #000000; background: #FAF8CC;}
.Ntextoleftalignnowrapbold {white-space:nowrap;  font-size: 11px; padding: 2px 5px 2px 5px;color: #000000; background: #ececec; font-weight:bold;}

.Ntextorightalignnowrap {white-space:nowrap;  font-size: 11px; padding: 2px 5px 2px 5px;color: #000000; background: #ececec;text-align:right;}

.Nhyperodd {white-space:nowrap;font-size: 11px; padding: 2px 5px 2px 5px;color: #000000; background: #ececec;}
.Ntexte {white-space:nowrap;  font-size: 11px;padding: 2px 5px 2px 5px;color: #000000;background: #f9f9f9;}
.Ntextewithwrap {font-size: 11px;padding: 2px 5px 2px 5px;color: #000000;background: #f9f9f9;}
.Ntexteleftalignnowrap { white-space:nowrap;  font-size: 11px;padding: 2px 5px 2px 5px;color: #000000;background: #f9f9f9;}
.Ntexteleftalignnowrapnoback { white-space:nowrap;  font-size: 11px;padding: 2px 5px 2px 5px;color: #000000;}
.Nhypereven { white-space:nowrap; font-size: 11px;padding: 2px 5px 2px 5px;color: #000000;background: #f9f9f9;}
.Nbuttonrow { background-color: #d7e1eb}
.divnoview{background:#f9f9f9;border: 3px solid #bdbdbd;}
.divstyle{padding: 5px;background: #A2A0B8;border: 1px solid #bdbdbd; z-index: 2;}
.divtable{background:#f9f9f9; border:1px solid #ADBECF;}
.filtersCaption{font-size: 11px;font-weight: normal;text-align: center;	padding: 2px 0px 3px 7px;color: #000000;}
.tabNormalText{white-space:nowrap; font-size: 11px;padding: 1px 5px 1px 5px;color: #000000;}
.imagefilter{background: no-repeat;}
.filtersCaption{font-size: 11px;font-weight: normal;text-align: center;padding: 2px 0px 3px 7px;color: #000000;}
.divbutton{margin: 0px 10px 0px 0px;}
.imgstyle{padding: 0px;}
.head{text-decoration: none;}
.body{ margin:0px;}
.headerrow{	background-color:#C9D9E8;text-align:center;}
.Nbutton { font-family : verdana; padding-left:2;font-size : 10px; font-style : normal; font-weight : normal; color : #000000; letter-spacing : normal; word-spacing : normal; border : 1px #333333 solid; background : #d7e1eb; }
.Ntoprow { background-color: #FFFFFF; font-weight:bold}
.Ntoprow1 { background-color: #C9D9E8; font-weight:bold; text-align: left; border-left: 1px solid #cdcdcd;}
.Ntoprow2 { background-color: #C9D9E8; font-weight:bold; text-align: left; border-left: 1px solid #FFFFFF;}
.Nreadonlytextnumberodd { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ececec; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.Nreadonlytextnumbereven { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #F9F9F9; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.Nmessage{font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:13px;font-weight:bold;color:blue;vertical-align: middle;margin-top: 11px;margin-bottom: 1px ;background-color: #f9f9f9;text-align: left;border-color: #E0E0DC #E6E6E3 #8E8E8C #808080;border-style: solid;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px; white-space: nowrap}
.messageResource{font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:11px;color:blue;vertical-align: middle;margin-top: 11px;margin-bottom: 1px ;background-color: #f9f9f9;text-align: left;border-color: #E0E0DC #E6E6E3 #8E8E8C #808080;border-style: solid;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px; white-space: nowrap}
.Nreadonlytextodd { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ececec; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.Nreadonlytexteven { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #F9F9F9; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.textresource {  white-space:nowrap;  font-size: 11px;padding: 2px 5px 2px 5px;color: #000000;background: #F4F9FD;}

.Nnumberodd 
{ 
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:4;
	padding-right:4;
	font-size:11px; 
	font-weight:normal; 
	color:#000000; 
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	vertical-align: middle; 
	margin-top: 1px; 
	margin-bottom: 1px ; 
	background-color: #ececec; 
	text-align: right; 
	border-color: #FFFFFF; 
	border-style: solid; 
	white-space:nowrap
	
}
.Nnumbereven 
{ 	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:4;
	padding-right:4;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-top-width : 1px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 1px;
	vertical-align: middle;
	margin-top: 1px;
	margin-bottom: 1px ;
	background-color: #f9f9f9;
	text-align: right;
	border-color: #FFFFFF;
	border-style: solid;
	white-space:nowrap
	
}
.Ntextlefteven1 
{ 	
	font-family:Verdana, Arial, Helvetica, sans-serif;
	padding-left:2;
	font-size:11px;
	font-weight:normal;
	color:#000000;
	border-top-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 0px;
	vertical-align: top;
	margin-top: 0px;
	margin-bottom: 0px ;
	background-color: #f9f9f9;
	text-align: left;
	border-color: #FFFFFF;
	border-style: none;
	
	
}
	
.Ntextleftodd1
{ 
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:2;
	font-size:11px; 
	font-weight:normal; 
	color:#000000; 
	border-top-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width : 0px;
	vertical-align: top; 
	margin-top: 0px; 
	margin-bottom: 0px ; 
	background-color: #ececec;  
	text-align: left; 
	border-color: #FFFFFF; 
	border-style: none; 
	
}
.menufont_old{
	font-family:Arial, Tahoma, Verdana;
	text-align:center;
	line-height:12px;
	font-weight:normal;
	font-size:10px;
	color:#000000;
	text-decoration: none;
	white-space:nowrap;
	}
	
.menufont
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:12px;
	font-weight:normal;
	font-size:10px;
	color:#000000;
	text-decoration: none;
	white-space:nowrap; 
	display: inline;
	z-index: 1;
	display: block;
	float: left;
	padding: 2px 15px 4px 15px;
	
}

.menufont:hover      
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	line-height:12px;
	font-weight:normal;
	font-size:10px;
	color:#FFFFFF;
	text-decoration: none;
	background-color: #303a79;
	display: block;
	white-space:nowrap; 
}

.colorRow{
	background: #CDCDCD;
}
.whiteCol{
	background: #FFFFFF;
}



/*--------------Use Content Head--------------*/
h1{
	font-size: 16px;
	font-weight: bold;
	color: #2e3d80;
	padding: 12px 0px 2px 0px;
	margin: 0px 0px 0px 0px;
}
h2{
	font-size: 16px;
	font-weight: bold;
	color: #2e3d80;
	padding: 12px 0px 2px 11px;
	margin: 0px 0px 0px 0px;
}
h4{
	font-size: 12px;
	font-weight: bold;
	color: #2e3d80;
	padding: 12px 0px 2px 11px;
	margin: 0px 0px 0px 0px;
}
h3{
	font-size: 16px;
	font-weight: bold;
	color: #2e3d80;
	padding: 0px 0px 12px 0px;
	margin: 0px 0px 0px 0px;
}
h5{
	font-size: 12px;
	font-weight: bold;
	padding: 8px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
/* shows Filters menu */
#featured1 li.over span{display: block;}
#featured1 div li{list-style: none;margin: 4px 0 0 0;height: 18px;padding: 0;}
/* Display sub-menus 	*/
#featured1 div li span{list-style: none;position: absolute;	display: none;left: -100px;	top: 8px;}

.checkboxstyle{display:none;}


/*For New GUI: END*/



.labeloredalignright { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;padding-right:4; font-size:11px; font-weight:bold; color:#FFFFFF; vertical-align: middle; margin-top: 0px; margin-bottom: 1px ; background-color: #FF0000; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeloredleft { white-space:nowrap;font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:bold; color:#FF0000; vertical-align: middle; margin-top: 0px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.messagewithwrap{font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:13px;font-weight:bold;color:blue;vertical-align: middle;margin-top: 11px;margin-bottom: 1px ;background-color: #FFFFFF;text-align: left;border-color: #E0E0DC #E6E6E3 #8E8E8C #808080;border-style: solid;border-top-width: 0px;border-right-width: 0px;border-bottom-width: 0px;border-left-width: 0px}
.trybleftpadding { font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:4;font-size:11px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.ownerSpan
{
	overflow-Y: auto;
	scrollbar-base-color: none; 
	height: 150
}
.labelolightnoborder {white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2; padding-right:0; font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; border-color: #000000 #000000 #000000 #000000; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;}
.labelolightborder {white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2; padding-right:0; font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; border-color: #000000 #000000 #000000 #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px;}
.Ntextoleftalignwrap { font-size: 11px; padding: 2px 5px 2px 5px;color: #000000; background: #ececec;}
.Nwrapwithbottomrightborder { font-size: 11px; padding: 2px 5px 2px 5px;color: #000000; background: #ececec; border-color: #000000; border-left-width:0px; border-top-width:0px; border-bottom-width: 1px; border-right-width: 1px; border-style: solid;}
.Nwrapwithbottomborder { font-size: 11px; padding: 2px 5px 2px 5px;color: #000000; background: #ececec; border-color: #000000; border-left-width:0px; border-top-width:0px; border-bottom-width: 1px; border-right-width: 0px; border-style: solid;}
.labelodark {white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2; padding-right:0; font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #E0E0DC; text-align: left; border-color: #000000 #000000 #000000 #000000; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.labeleboldgray {white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #D0D3D5; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Ntrybgray{white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:4; padding-right:4;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px; background-color: #D0D3D5 ; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080;}

.labele{  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labellegend{  font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

.smallSelect { 
	padding: 0px 0px 0px 0px;
	height: 12px;
	width: 12px;
}
.textwhiteFont {
	BORDER-RIGHT: #e6e6e3 0px solid; BORDER-TOP: #e0e0dc 0px solid; MARGIN-TOP: 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #808080 0px solid; COLOR: #000000; BORDER-BOTTOM: #8e8e8c 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; POSITION: inherit; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.textwhiteFontwithWrap {
	BORDER-RIGHT: #e6e6e3 0px solid; BORDER-TOP: #e0e0dc 0px solid; MARGIN-TOP: 1px; PADDING-LEFT: 2px; FONT-WEIGHT: normal; FONT-SIZE: 11px; MARGIN-BOTTOM: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: #808080 0px solid; COLOR: #000000; BORDER-BOTTOM: #8e8e8c 0px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; POSITION: inherit; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}

.labelNoColorBold {  
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	font-size:11px; 
	font-weight:bold;
	vertical-align: top; 
	margin-top: 0px;
}
.labelNoColor{  
	font-size:11px; 
	font-weight:normal;
	margin-top: 0px; 
}
.custlabele{  font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px;WHITE-SPACE: nowrap; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.Ntexteleftalignnowraprightborder { white-space:nowrap;  font-size: 11px;padding: 4px 20px 2px 20px;color: #000000;background: #f9f9f9;BORDER-RIGHT: #cccccc 1px solid; }
.Ntexteleftalignnowrapwithoutborder { white-space:nowrap;  font-size: 11px;padding: 4px 20px 2px 20px;color: #000000;background: #f9f9f9; }
.Ntexteleftalignnowrapfirstborder { white-space:nowrap;  font-size: 11px;padding: 4px 20px 2px 5px;color: #000000;background: #f9f9f9;BORDER-RIGHT: #cccccc 1px solid; }

.Ntexteleftalignnowrapnoborder { 
	white-space:nowrap;
	font-size: 11px;
	padding: 4px 20px 2px 5px;
	color: #000000;
	background: #f9f9f9;
	 }

.texthNoBorder{white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:4; padding-right:4;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px; background-color: #E0E0DC; text-align: center; border-color: #000000 #000000 #000000 #000000;border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;}
.NbuttonBrown { font-family : verdana; padding-left:2;font-size : 10px; font-style : normal; font-weight : normal; color : #000000; letter-spacing : normal; word-spacing : normal; border : 1px #333333 solid; background : #E0E0DC; }
.Ntextoleftalignnowrappaleyellowborder {
	white-space:nowrap;  
	font-size: 11px;
	font-weight:bold; 
	padding: 2px 5px 2px 5px;
	color: #000000; 
	background: #FAF8CC;
	border-color : #BDBFC1 #BDBFC1 #BDBFC1 #BDBFC1;
	border-style : solid;
	border-top-width : 1px;
	border-right-width : 1px;
	border-bottom-width : 1px;
	border-left-width :1px;
	padding-left:0	
	}
.Ntextoleftalignnowrappaleyellowborder1 {
	white-space:nowrap;  
	font-size: 11px; 
	font-weight:bold;
	padding: 2px 5px 2px 5px;
	color: #000000; 
	background: #FAF8CC;
	border-color : #FFFFFF #BDBFC1 #849DC0 #849DC0;
	border-style : solid;
	border-top-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width :0px;
	padding-left:0	
	}
.labeleboldhierrarchynowrap { white-space:nowrap;font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:11px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.labeleboldhierrarchynowrapright { white-space:nowrap;font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:2;font-size:11px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #FFFFFF; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.texthdNoBorder{
white-space:nowrap;
padding-left:4;
padding-right:4;
font-size:10px;
font-weight:normal;
color:#000000;
vertical-align: middle;
padding-bottom: 6px;
padding-top: 6px;
background-color: #E0E0DC;
text-align: center;
border-color: #000000 #000000 #000000 #000000;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
}
.labelodarkborder {
	white-space:nowrap;
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:2; 
	padding-right:0; 
	font-size:10px;
	font-weight:bold; 
	color:#000000; 
	vertical-align: middle; 
	margin-top: 1px;
	margin-bottom: 1px ;
	background-color: #E0E0DC;
	text-align: center; 
	border-color: #000000 #000000 #000000 #000000;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px; 
	border-bottom-width: 1px;
	border-left-width: 1px
	}
.Ntextoleftalignwrapborder { 
	font-size: 11px; 
	padding: 2px 5px 2px 5px;
	color: #000000; 
	background: #ececec;
	border-color: #000000 #000000 #000000 #000000;
	border-top-width: 1px;
	border-right-width: 1px; 
	border-bottom-width: 1px;
	border-left-width: 1px
	}
.hyperoddwhite { white-space:nowrap; position : relative; font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; text-align: left; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.hyperevencenter { white-space:nowrap; position : relative; font-family:Verdana , Arial, Helvetica, sans-serif;  font-size:10px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ECF5FF; text-align: center; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
	
.texthd{
white-space:nowrap;
font-family:Verdana, Arial, Helvetica, sans-serif;
padding-left:4;
padding-right:4;
font-size:11px;
font-weight:bold;
color:#000000;
vertical-align: middle;
padding-bottom: 2px;
padding-top: 8px;
text-align: left;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 0px;
border-left-width: 0px;
}

.Nreadonlytextnumbereven1 { 
	font-family:Verdana, Arial, Helvetica, sans-serif;  
	padding-left:2;
	font-size:11px; 
	font-weight:normal;
	color:#000000;
	vertical-align: middle; 
	margin-top: 1px; 
	margin-bottom: 1px ; 
	background-color: #F9F9F9;
	border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; 
	border-style: none;
	 border-top-width: 1px;
	 border-right-width: 1px;
	 border-bottom-width: 1px;
	  border-left-width: 1px ;
	   text-align: right;
	   }
	     .Nreadonlytextnumberodd1 { font-family:Verdana, Arial, Helvetica, sans-serif;  padding-left:2;font-size:11px; font-weight:normal; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px ; background-color: #ececec; text-align: right; border-color: #E0E0DC #E6E6E3 #8E8E8C #808080; border-style: none; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
	     
   .stdPagePadding{
   padding-left: 14px;
   padding-top: 14px;
   }
   
.texthNoBorderLeftBold{white-space:nowrap; font-family:Verdana, Arial, Helvetica, sans-serif; padding-left:4px; padding-right:4px;font-size:11px; font-weight:bold; color:#000000; vertical-align: middle; margin-top: 1px; margin-bottom: 1px; background-color: #E0E0DC; text-align: left; border-color: #000000 #000000 #000000 #000000;border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;}
.lightMessage {white-space:nowrap;  font-size: 11px; padding: 2px 5px 2px 5px;color: #b3b2b0;}

.tableBlueBg{
	border-color: #D9DFEF;
	border-width: 2px;
	border-style: solid;
}
.tabtexto { 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size: 11px; 
	color: #000000; 
	background: #ececec;
	height: 20px;
	padding-left:5px;
	white-space:nowrap;
}

.pvstexto { 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px; 
	color: #000000; 
	padding-left:5px;
	line-height:11px;
}

.BlueTab{ 
	background-color:#dbe4f1; 
	border:1px solid #d2dff3; 
	margin:0px 0px 0px 0px;
}
.Ntexteleftalignwrapnoback { font-size: 11px;padding: 2px 5px 2px 5px;color: #000000;}