* 									{ margin: 0; padding: 0; }
body								{ font: 14px Helvetica, Sans-Serif; } 
#page-wrap							{ width: 800px; margin: 25px auto; } 
a									{ text-decoration:none; }
ul									{ list-style: none;}


/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; }
ul.dropdown li                      { float: left; zoom: 0;font-size:11px; height:18px; font-weight: normal;}
ul.dropdown a						{ color: #FFFFFF;}
ul.dropdown a:hover		            { color: #FFFFFF; background: #303a79;}
/*ul.dropdown a:active                { color: #303a79; }*/

ul.dropdown li a                    { display: block; padding: 2px 8px; border-left: 1px solid #cdcdcd;;
	 								   color: #FFFFFF; font-weight: lighter; background:url(../images/bggrey.jpg);}
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
/*ul.dropdown li:hover 				{ background: #303a79; color: #356492; position: relative; } */ 
ul.dropdown li.hover,
ul.dropdown li:hover              	{ background: #303a79; color: #000000; position: relative; }

/*ul.dropdown li.hover a              { color: #ffffff; background: #303a79 }*/
ul.dropdown li.hoverOfParent a      { color: #000000; background: #DAD9D9; width:180px; display: block;} 


ul.sub_menu a						{ color: #000000; background: #DAD9D9; width:180px;}

ul.sub_menu li 						{}

ul.sub_menu li a                    { display: block; padding: 4px 8px; border-right: 1px solid #333;
	 								  background: #DAD9D9; color: #000000; font-weight: 500; font-size: 10px; white-space: nowrap;}

ul.sub_menu li.hover,
ul.sub_menu li:hover                { background: #878686; color: #000000; position: relative; font-size:10px; }
ul.sub_menu li.hover a              { color: #ffffff; background: #878686; width:180px;}

/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #000000; 
									  float: none;}
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; border-bottom: 1px solid #ccc;} 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; background: #ffffff;}