html, body {

}
th {padding: 2px;}


#container { float:left;
}
#button {
	height: 5px;
	width: 184px;
	padding:0px 0px 0px 1px;
}

ul, li {
	margin:0; 
	padding:0; 
	list-style:none;
}

.BigBoard{font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#FFFFFF; text-align:center; text-transform:uppercase;}
.BigBoard .Red{font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#ff0000; text-align:center;}
.BigBoard .Green{font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#66ff33; text-align:center;}
.BigBoard .Blue{font-family:Arial, Helvetica, sans-serif; font-size:16px; font-weight:bold; color:#3399ff; text-align:center;}

#FooterTab{background-color:#000000; height:34px; background-position:bottom; border-top:1px solid #666; margin-bottom:0px; padding:6px 0px 0px 20px;}

#PageContentNavigation { background-color:#90add9; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#000; padding:3px 0px 0px 0px;}

#PageContentBreadCrumb {height:18px; background-color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#666; }

#contentTitle {height:30px; background-color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#000080; padding:0px 30px 0px 30px;}
#contentTD {padding:0px 30px 0px 30px;}
#PageContentTitle2 {height:30px; background-color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#000080; padding:0px 0px 0px 0px;}

#PageContentDate {height:20px; background-color:#FFFFFF; font-family:Arial, Helvetica, sans-serif; font-size:10px; font-weight:bold; color:#9b9b9b; padding:5px 0px 0px 0px;}

#PageContentBg { border:0px solid #CCC; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000000; padding:0px 0px 0px 0px;}
#PageContentBg1 { background-color:#ffffff; border:0px solid #CCC; font-family: Verdana,Arial, Helvetica, sans-serif; font-size:12px; color:#000000; padding:5px 0px 0px 10px;}
#PageContentBg2 { background-color:#e8eef7; border:0px solid #CCC; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; color:#000000; padding:0px 0px 0px 0px;}

.BreadCrumbText1{font-family:Arial, Helvetica, sans-serif; font-size:9px; color:#0A3488; padding:3px 0px 0px 10px; background: #ffffff;}
.BreadCrumbText1 A{font-family:Arial, Helvetica, sans-serif; font-size:9px; color:#B99C2C; text-decoration:none;}

.BreadCrumbText strong{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#0b007c;}
.BreadCrumbText{font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; color:#0A3488; background: #ffffff; padding-left: 5px;}

.factBoard {
width: 200px;
table-layout: fixed;
padding-top: 6px;
position: relative;
}
.factBoardDiv {
position: relative;
}

.topHeader, .topHeader a {
	font-size: 26px;font-weight: bold;color: #ffffff;font-family:Arial, Helvetica, sans-serif;padding-left: 7px; vertical-align: middle;	
}

.dropdownImage {
	border-color: gray;vertical-align: top;padding-top: 3px;padding-right: 1px;padding-left: 1px;margin-top: 0px; margin-bottom: 2px;	
}

.ie7 .dropdownImage {
	border-color: gray;vertical-align: top;padding-top: 3px;padding-bottom: 1px;padding-right: 1px;padding-left: 1px;  margin-top: 1px; margin-bottom: 0px;	
}

.graphDropdownImage {
	border-color: gray;vertical-align: top;padding-top: 3px;padding-right: 1px;padding-left: 1px;margin-top: 0px; margin-bottom: 2px;	
}

.ie7 .graphDropdownImage {
	border-color: gray;vertical-align: middle;padding-top: 0px;padding-bottom: 0px;padding-right: 1px;padding-left: 1px;  margin-top: 1px; margin-bottom: 0px;height: 15px; width: 15px;
}

.ie8 .graphDropdownImage {
	border-color: gray;vertical-align: middle;padding-top: 0px;padding-bottom: 0px;padding-right: 1px;padding-left: 1px;  margin-top: 0px; margin-bottom: 0px;height: 14px; width: 14px;
}

.comboDropdown{
	background-image: url(../images/comboImage.jpg) ;
	font-size: 10px; 
	vertical-align: middle;	
	height: 18px;
	width: 155px;
}

div.menuList { font-size: 12px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; }
div.menuList ul li { font-size: 12px; font-family:Arial, Helvetica, sans-serif; font-weight: normal; color: #212121; }
div.menuList ul li ul li{ font-size: 12px; font-family:Arial, Helvetica, sans-serif; font-weight: normal; color: #212121; padding-left: 10px;}
div.menuList a { font-size: 12px; font-family:Arial, Helvetica, sans-serif; color: #0f55ca; }
div.menuList ul li :HOVER{ color: blue; }

.smallGrayLeftAlign { font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-size:10px;
	font-style:normal;
	font-weight:normal;
	color: #838384;
	vertical-align: middle;
	white-space:nowrap}

.jsddm
{	margin: 0;
	padding: 0;
}
	
.jsddm li
{	float: left;
	list-style: none;
	font: 12px Tahoma, Arial;
}

.jsddm li a
{	display: block;
	padding: 5px 12px;
	text-decoration: none;
	border-right: 1px solid white;
	color: #FFFFFF;
	white-space: nowrap;

}

.jsddm li a:hover
{	padding: 5px 12px;
	color: #1a4981;
	font-weight:bold;
	background-color:#ebebeb;
}
	
.jsddm li ul
{	margin: 0;
	padding: 0;
	position: absolute;
	visibility: hidden;
	border-top: 1px solid white;
}
	
.jsddm li ul li
{	float: none;
	display: inline;
}

.jsddm li ul li a
{	background: #f8f8f8;
	color: #1a4981;
}

.jsddm li ul li a:hover
{	background: #ebebeb;
	font-weight:bold;
}

.select
{
	font-size: 11px;
	border: 1px solid #b9cada;
}
.headerpaleyellow {
	white-space:nowrap;  
	font-size: 11px; 
	font-family: 'Verdana', Arial, Helvetica, 'sans-serif';
	font-weight:normal;
	color: #000000; 
	background: #FAF8CC;
	border-color : #FFFFFF #BDBFC1 #849DC0 #849DC0;
	border-style : solid;
	border-top-width : 0px;
	border-right-width : 0px;
	border-bottom-width : 0px;
	border-left-width :0px;
	padding-left:0	;
	padding-top: 4px;
	padding-bottom: 4px;
	
	}