table.tablesorter {
	font-family:arial;
	font-weight: bold;
	font-size: 11px;
	color: #000000;
	width: 100%;
	text-align: left;
	white-space:nowrap;
	padding: 2px 5px 2px 5px;
	margin:6px 0pt 6px;
}

table.tablesorter thead tr {
	background-color: #D9DFEF;
	text-align: center;
	padding: 2px 5px 2px 5px;
}

table.tablesorter thead tr th{
	padding: 2px 2px 2px 2px;
	margin:10px 0pt 15px;
	border-left:#FAF8CC solid;
	border-left-width:1px;
	border-top:#FAF8CC solid;
	border-top-width:1px;
	border-bottom:#FAF8CC solid;
	border-bottom-width:1px;
}

table.tablesorter thead tr td {
	padding: 2px 2px 2px 2px;
	margin:10px 0pt 15px;
	border-left:#FAF8CC solid;
	border-left-width:1px;
	border-top:#FAF8CC solid;
	border-top-width:1px;
}


table.tablesorter thead tr .header {
	background-image: url(../images/updown-gray.gif);
	background-repeat: no-repeat;
	background-position: 100% 50%;
	cursor: pointer;
	padding: 2px 5px 2px 5px;
	margin:10px 0pt 15px;
	border-right: solid 4px #D9DFEF;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #D9DFEF;
	vertical-align: top;
	border-left:#FAF8CC solid;
	border-left-width:1px;
	border-bottom:#FAF8CC solid;
	border-bottom-width:1px;
}
table.tablesorter tbody tr.odd td {
	background-color:#ececec;
	font-weight: normal;
	border: 1px solid #FAF8CC;
}
table.tablesorter tbody tr.even td {
	background-color:#f9f9f9;
	font-weight: normal;
	border: 1px; solid #FAF8CC;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/down-gray.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/up-gray.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #D9DFEF;
}