BODY{
	/*font-family: Arial, Verdana;*/
/*color: #808080;*/
	/*font-size: 11px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	background: url(images/back.gif) white;*/
    margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin_bottom: 0px;
	horizontal-align: left;
	text-align: left;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	color: #343434;
	/*background-color: #BBCCDC;*/
	/*background-image: url('../images/page_bg.gif'); */
	}

.BODY	{
	/*font-family: Arial, Verdana;
	color: #808080;
	font-size: 11px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	background: url(images/back.gif) white;*/
    margin-top: 3px;
	margin-left: 0px;
	margin-right: 0px;
	margin_bottom: 0px;
	horizontal-align: left;
	text-align: left;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	color: #343434;
	/*background-color: #BBCCDC;*/
	background-image: url('../images/page_bg.gif'); 
	}


H1 	{ 
	/*font-weight: normal; 
	color: #0000FF;
	font-size: 13pt;
	font-family: Arial;*/
	font-family: Arial, Tahoma, Verdana;
	font-size: 20px;
	color: #1D2F79;
	font-weight: bold;
	margin: 0em 0;
	vertical-align: bottom;
	padding: 0px;
	/*line-height: 16px;*/
	}

P	{
	font-family: Verdana, Arial;
	font-size: 11px;
	line-height: 1.5;
	}

li	{
	font-family: Verdana, Arial;
	font-size: 11px;	
	line-height: 1.5;
	}

select	{
	/*font-family: Verdana, Arial;
	font-size: 11px;*/
    font-size: 11px;
	font-family: Verdana, Arial;
	/*border: 1px solid #FFFFFF;*/
	/*height: 15px;*/
	/*border: 1px solid #FFFFFF;*/
	/*height: 15px;*/
	}

input   {
	font-family: Verdana, Arial;
	font-size: 11px;

	}

no_effect.input {
	font-family: Verdana, Arial;
	font-size: 11px;

	}

textarea{
	/*font-family: Verdana, Arial;
	font-size: 11px;*/
    /*border: 1px solid #BBCCDC;*/
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	color: #7D7D7D
	}

A:link 	{
	/*color: #015796; 
	text-decoration: underline;*/
	color: #3584B9;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	font-weight: normal; 
	text-decoration: none;
	} 
A:visited {
	/*color: #015796; 
	text-decoration: underline;*/
	color: #3584B9;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	}
A:hover {
	/*color: #808080; 
	text-decoration: underline;*/
	color: #CC0001; 
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
	} 
A:active {
	/*color: #015796; 
	text-decoration: underline;*/
	color: #0099FF;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	font-weight:normal;
	text-decoration: none;
	}

A.menu:link 	{
	color: #FFFFFF; 
	text-decoration: none;
	font-size: 11px;
	} 
A.menu:visited {
	color: #FFFFFF; 
	text-decoration: none;
	font-size: 11px;
	}
A.menu:hover {
	color: #c0c0c0; 
	text-decoration: none;
	font-size: 11px;
	} 
A.menu:active {
	color: #FFFFFF; 
	text-decoration: none;
	font-size: 11px;
	}
.rec
{
	color: #1F15CC; 
	text-decoration: none;
	font-size: 11px;
}

td.q_head {
	border-left-width: 1; 
	border-right-width: 1; 
	border-top-width: 1; 
	border-bottom: 1px solid #C0C0C0; 
	background-color:#F8F8F8; border-bottom-width:1px
	}

/**Dynamic Menu Styles**/
table.MenuTableMain
{
	background-color: #F8F8F8;
	/*width: 130px;*/
	/*padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 5px;*/
}

a:link.MenuLink
{
	font-family: Arial , Arial, Verdana;
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
}
a:hover.MenuLink
{
	font-family: Arial , Arial, Verdana;
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
}
a:active.MenuLink
{
	font-family: Verdana;
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
}
a:visited.MenuLink
{
	font-family: Verdana;
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
}
div.domMenuMmenuBar
{
	border-left: 0px solid #666666;
	border-right: 0px solid #666666;
	border-top: 0px solid #666666;
	border-bottom: 0px solid #666666;
}
div.domMenuMenuElement
{
	/*border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;*/
	border-top: 0px solid #F5F5F5;
	border-bottom: 1px solid #F5F5F5;
	width: 100%;
/*	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
*/
	color: #000000;
	font-family: Verdana, Arial, Tahoma;
	font-size: 11px;
	font-weight: normal; 
	text-decoration: none;
	background-color: #D7E1EB;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;

}
div.domMenuSubMenuBar
{
	border: solid #ffffff;
	border-width: 1px 1px 1px 1px;
}
div.domMenuSubMenuElement
{
/*	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
*/
	border: solid #F5F5F5;
	border-width: 0px 0px 1px 0px;
	background-color: #D7E1EB;
	color: #000000;
	font-family: Verdana, Arial, Tahoma;
	font-size: 11px;
	font-weight: normal; 
	text-decoration: none;

	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
/*padding: 1px;*/
}
div.domMenuSubMenuElementHeading
{
	font-weight: normal;
}
div.domMenuMenuElementHover
{
	background-color: #F5F5F5;
	color: #3584B9; 
/*	color: #000000;*/
}
div.domMenuSubMenuElementHover
{
/*background-color: #909090;*/
	background-color: #F5F5F5;
/*	color: #000000;*/
	color: #3584B9; 
}
.TableRow{
	background-color: #ECF5FF;
	font-size: 11px;
}
.TableRowHead{
	/*background-color: #808080;*/
    background-color: #D7E1EB;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
}
.hyper:link 	{
	color: #015796; 
	text-decoration: underline;
	font-size: 11px;
	} 
.hyper:visited {
	color: #015796; 
	text-decoration: underline;
	font-size: 11px;
	}
.hyper:hover {
	color: #808080; 
	text-decoration: underline;
	font-size: 11px;
	} 
.hyper:active {
	color: #015796; 
	text-decoration: underline;
	font-size: 11px;
	}
.TableRowWhiteBG{
	font-size: 11px;
}
.BigText{ 
	font-family: Verdana, Arial;
	color: #012e71;
	font-size: 17px;
	font-weight: bold;
}
.heading
{
	font-family: Arial, Tahoma, Verdana;
	font-size: 18px;
	color: #09216C;
}
.tdTabs
{
	background-color: #D7E1EB;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}
.tdTabsSelected{
	background-color: #BBCCDC;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}

.lColomn
{
	background-color: #ECECEC;
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 2px;
	text-align: left;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}
.tdTabs1
{
	background-color: #D7E1EB;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
	padding-left: 3px;
	padding-right: 3px;
}
.rColomn
{
	background-color: #F9F9F9;
	padding-left: 3px;
	padding-right: 3px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}
.rColorLessColomn
{
	background-color: #FFFFFF;
	padding-left: 3px;
	padding-right: 3px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}
.newData
{
	background-color: #ECECEC;
	padding-left: 3px;
	padding-right: 3px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}
.newDataOnly
{
	padding-left: 3px;
	padding-right: 3px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}
.DataCellA
{
	background-color: #F4F4F4;
	padding-left: 3px;
	padding-right: 3px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}
.DataCellB
{
	background-color: #FAFAFA;
	padding-left: 3px;
	padding-right: 3px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}
.HighlightedCell
{
	background-color: #DFE8FD;
	padding-left: 3px;
	padding-right: 3px;
	font-family: Arial, Tahoma, Verdana;
	font-size: 11px;
}

input.button
{
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	background-color: #F3F3F3;
	color: #00355E;
	/*border: 1px solid #D5D5D5;*/
	border-top: 1px solid #77B6E7;
	border-right: 1px solid #77B6E7;
	border-bottom: 1px solid #77B6E7;
	border-left: 1px solid #77B6E7;
	background-image: url(../images/bgcolor.gif);
}
input.text
{
	border: 1px solid #BBCCDC;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	color: #000000

}
.paging
{
	color: #444444;
	font-size: 10px;
	height: 24px;
	vartical-align : bottom;
}
.disabled_input
{
	color: #FFFFFF;
	border: 1px solid #ECE9D8;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
}
td.ptd, .ptd		{ font-size: 11px;}
.errMsg		{ background-color: #FFFFCC; border: solid 1px  #FF0000; height: 22px;}
.infMsg
{
	background-color: #FFFFE6;
	border: 1px dashed #33BDFF;
	height: 22px;
}
.confMsg	{ background-color: #FFFFCC; border: solid 1px #660000;}
.quesMsg	{ background-color: #FFFFCC; border: solid 1px #0000FF;}
.preloadDialog {
	background : #eee;
	border : 1px solid #999;
	-moz-border-radius : 5px;
	padding : 1px;
}
.eventClass{
background: #ECF5FF;
font-size: 11px;
padding-left: 6px;
padding-top: 2px;
padding-bottom: 2px;
padding-right: 2px;
}